{% set container = theme.settings.fluid_container ? 'container-fluid' : 'container' %}
  {# Header #}
  <header{{ header_attributes.addClass(header_classes) }} id="header" role="header">
    {% if page.header %}
      {% block header %}
        <div class="logo-container">
          {{ page.header }}
        </div>
      {% endblock %}
    {% endif %}
  </header>
  {# Navbar #}
    {% if page.navigation or page.navigation_collapsible %}
      {% block navbar %}
        {%
          set navbar_classes = [
            'navbar',
            theme.settings.navbar_inverse ? 'navbar-inverse' : 'navbar-default',
            theme.settings.navbar_position ? 'navbar-' ~ theme.settings.navbar_position|clean_class : container,
          ]
        %}
        <div class="nav-outer-wrapper">
          <div{{ navbar_attributes.addClass(navbar_classes) }} id="navbar" role="nav">
            <nav role="navigation">
              {% if not navbar_attributes.hasClass(container) %}
                <div class="{{ container }}">
              {% endif %}
              <div class="navbar-header">
                {{ page.navigation }}
                {# .btn-navbar is used as the toggle for collapsed navbar content #}
                {% if page.navigation_collapsible %}
                  <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-collapse">
                    <span class="sr-only">{{ 'Toggle navigation'|t }}</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                  </button>
                {% endif %}
              </div>
              {# Navigation (collapsible) #}
              {% if page.navigation_collapsible %}
                <div id="navbar-collapse" class="navbar-collapse collapse">
                  {{ page.navigation_collapsible }}
                </div>
              {% endif %}
              {% if not navbar_attributes.hasClass(container) %}
                </div>
              {% endif %}
            </nav>
            {{ drupal_entity('block', 'dropdownlanguagecontent', check_access=false) }}
          </div>
        </div>
      {% endblock %}
    {% endif %}
  {# Main #}
  {% block main %}
    <div role="main" class="main-container {{ container }} js-quickedit-main-content">
      <div class="row">
      {# Sidebar Left #}
      {% if page.sidebar_left|render|striptags|trim|length > 0 %}
        {% block sidebar_left %}
          <aside class="col-sm-3" role="complementary">
            {{ page.sidebar_left }}
          </aside>
        {% endblock %}
      {% endif %}
      
      {# Content #}
      {# The content_classes var below is altered to see if the rendered blocks contain any text sans HTML. This is not the ideal fix. It is a known core bug with no known fix yet. DH 11/13/2019#}
      {%
        set content_classes = [
          page.sidebar_left|render|striptags|trim|length != 0 and page.sidebar_right|render|striptags|trim|length != 0 ? 'col-xs-6 col-sm-6 col-md-6 col-lg-6 col-xl-6',
          page.sidebar_left|render|striptags|trim|length != 0 and page.sidebar_right|render|striptags|trim|length == 0 ? 'col-xs-9 col-sm-9 col-md-9 col-lg-9 col-xl-9',
          page.sidebar_right|render|striptags|trim|length != 0 and page.sidebar_left|render|striptags|trim|length == 0 ? 'col-xs-9 col-sm-9 col-md-9 col-lg-9 col-xl-9',
          page.sidebar_left|render|striptags|trim|length == 0 and page.sidebar_right|render|striptags|trim|length == 0 ? 'col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12'
        ]
      %}
      <section{{ content_attributes.addClass(content_classes) }}>

        {# Highlighted #}
        {% if page.highlighted %}
          {% block highlighted %}
            <div class="highlighted">{{ page.highlighted }}</div>
          {% endblock %}
        {% endif %}

        {# Help #}
        {% if page.help %}
          {% block help %}
            {{ page.help }}
          {% endblock %}
        {% endif %}

        {# Content Top #}
        {% block content_top %}
          {{ page.content_top }}
        {% endblock %}

        {# Content #}
        {% block content %}
          <a id="main-content"></a>
          {{ page.content }}
        {% endblock %}
      </section>

      {# Sidebar Second #}
      {% if page.sidebar_right %}
        {% block sidebar_right %}
          {{ page.sidebar_right }}
        {% endblock %}
      {% endif %}
    </div>
  </div>
{% endblock %}

{% if page.footer %}
  {% block footer %}
    <footer class="footer" role="contentinfo">
      <div class="{{ container }}">
        {{ page.footer }}
      </div>
    </footer>
  {% endblock %}
{% endif %}
