.ico-arrow,
.we-mega-menu-toolbar .we-mega-menu-btn-break-col:before,
.we-mega-menu-toolbar .chosen-container-single .chosen-single div b {
    width: .6875rem;
    height: .6875rem;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    display: inline-block
}

.ico-arrow,
.we-mega-menu-toolbar .we-mega-menu-btn-break-col:before,
.we-mega-menu-toolbar .chosen-container-single .chosen-single div b {
    background-image: url("../images/ico-arrow.png")
}

.ico-arrow-white,
.we-mega-menu-toolbar .we-mega-menu-btn-break-col:after {
    width: .6875rem;
    height: .6875rem;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    display: inline-block
}

.ico-arrow-white,
.we-mega-menu-toolbar .we-mega-menu-btn-break-col:after {
    background-image: url("../images/ico-arrow-white.png")
}

.close {
    font-size: 0;
    filter: progid: DXImageTransform.Microsoft.Alpha(enabled=false);
    opacity: 1;
    position: absolute;
    top: -8px;
    right: -8px;
    z-index: 5;
    background: #e16060;
    color: white;
    width: 15px;
    height: 15px;
    padding: 0 !important;
    text-align: center;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%
}

.close:hover,
.close:focus {
    background: #d93535
}

.icon-remove:before {
    content: "\f00d";
    display: inline-block;
    font-family: "Font Awesome 5 Pro";
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-size: 8px;
    color: white;
    line-height: 14px;
    font-weight: 100
}

.ajax-progress.ajax-progress-throbber {
    position: absolute;
    top: 100%;
    left: 0;
    padding: 0;
    margin: 0
}

.we-mega-menu-toolbar .switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 30px;
    margin-bottom: 0
}

.we-mega-menu-toolbar .switch input {
    display: none
}

.we-mega-menu-toolbar .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #666666;
    -moz-border-radius: 15px;
    -webkit-border-radius: 15px;
    border-radius: 15px;
    -webkit-transition: .4s;
    transition: .4s;
    -moz-box-shadow: 0 0 4px rgba(0, 0, 0, 0.3) inset;
    -webkit-box-shadow: 0 0 4px rgba(0, 0, 0, 0.3) inset;
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.3) inset
}

.we-mega-menu-toolbar .slider:before {
    position: absolute;
    content: "";
    height: 22px;
    width: 22px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    -moz-box-shadow: 0 0 4px rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: 0 0 4px rgba(0, 0, 0, 0.3);
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.3)
}

.we-mega-menu-toolbar input:checked+.slider {
    background-color: #54e1c5
}

.we-mega-menu-toolbar input:focus+.slider {
    box-shadow: 0 0 1px #54e1c5
}

.we-mega-menu-toolbar input:checked+.slider:before {
    -moz-transform: translateX(30px);
    -ms-transform: translateX(30px);
    -webkit-transform: translateX(30px);
    transform: translateX(30px)
}

.we-mega-menu-toolbar .slider.round {
    border-radius: 34px
}

.we-mega-menu-toolbar .slider.round:before {
    border-radius: 50%
}

.navbar-we-mega-menu .we-mega-menu-row {
    margin-left: -1.06383%;
    margin-right: -1.06383%;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap
}

.navbar-we-mega-menu .we-mega-menu-row>* {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 97.87234%;
    -ms-flex: 0 0 97.87234%;
    flex: 0 0 97.87234%;
    max-width: 97.87234%;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: column;
    flex-direction: column;
    position: relative;
    margin-left: 1.06383%;
    margin-right: 1.06383%
}

.navbar-we-mega-menu .span1 {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 6.20567%;
    -ms-flex: 0 0 6.20567%;
    flex: 0 0 6.20567%;
    max-width: 6.20567%
}

.navbar-we-mega-menu .span2 {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 14.53901%;
    -ms-flex: 0 0 14.53901%;
    flex: 0 0 14.53901%;
    max-width: 14.53901%
}

.navbar-we-mega-menu .span3 {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 22.87234%;
    -ms-flex: 0 0 22.87234%;
    flex: 0 0 22.87234%;
    max-width: 22.87234%
}

.navbar-we-mega-menu .span4 {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 31.20567%;
    -ms-flex: 0 0 31.20567%;
    flex: 0 0 31.20567%;
    max-width: 31.20567%
}

.navbar-we-mega-menu .span5 {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 39.53901%;
    -ms-flex: 0 0 39.53901%;
    flex: 0 0 39.53901%;
    max-width: 39.53901%
}

.navbar-we-mega-menu .span6 {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 47.87234%;
    -ms-flex: 0 0 47.87234%;
    flex: 0 0 47.87234%;
    max-width: 47.87234%
}

.navbar-we-mega-menu .span7 {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 56.20567%;
    -ms-flex: 0 0 56.20567%;
    flex: 0 0 56.20567%;
    max-width: 56.20567%
}

.navbar-we-mega-menu .span8 {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 64.53901%;
    -ms-flex: 0 0 64.53901%;
    flex: 0 0 64.53901%;
    max-width: 64.53901%
}

.navbar-we-mega-menu .span9 {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 72.87234%;
    -ms-flex: 0 0 72.87234%;
    flex: 0 0 72.87234%;
    max-width: 72.87234%
}

.navbar-we-mega-menu .span10 {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 81.20567%;
    -ms-flex: 0 0 81.20567%;
    flex: 0 0 81.20567%;
    max-width: 81.20567%
}

.navbar-we-mega-menu .span11 {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 89.53901%;
    -ms-flex: 0 0 89.53901%;
    flex: 0 0 89.53901%;
    max-width: 89.53901%
}

.navbar-we-mega-menu .span12 {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 97.87234%;
    -ms-flex: 0 0 97.87234%;
    flex: 0 0 97.87234%;
    max-width: 97.87234%
}

.we-mega-menu-toolbar {
    position: relative
}

.we-mega-menu-toolbar .we-mega-menu-bar {
    display: none
}

.we-mega-menu-toolbar .btn-get-icon {
    font-size: .625rem;
    width: 4.375rem;
    height: 1.25rem;
    -moz-border-radius: 20px;
    -webkit-border-radius: 20px;
    border-radius: 20px;
    text-transform: uppercase;
    display: inline-block;
    text-align: center;
    float: right;
    color: #fff;
    background-color: #2a5caa;
    position: relative;
    top: 2px
}

.we-mega-menu-toolbar .btn-get-icon:hover,
.we-mega-menu-toolbar .btn-get-icon:focus {
    background-color: #224a89;
    color: #fff;
    text-decoration: none
}

.we-mega-menu-toolbar .we-mega-menu-column-config .form-fix-width {
    margin-right: .3125rem
}

.we-mega-menu-toolbar .form-fix-width {
    margin-right: .5rem;
    min-width: 4.375rem;
    display: -webkit-inline-flex;
    display: inline-flex;
    -webkit-flex-direction: column;
    flex-direction: column
}

.we-mega-menu-toolbar .form-fix-width label {
    font-size: .8125rem
}

.we-mega-menu-toolbar .we-mega-menu-btn-add-row {
    -moz-box-shadow: 1px 1px 2px 0px rgba(0, 0, 0, 0.35);
    -webkit-box-shadow: 1px 1px 2px 0px rgba(0, 0, 0, 0.35);
    box-shadow: 1px 1px 2px 0px rgba(0, 0, 0, 0.35);
    font-size: 1.625rem;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    font-family: "Quicksand", sans-serif;
    font-weight: 700;
    width: 30px;
    height: 30px;
    line-height: 1;
    padding: 0;
    padding-bottom: .3125rem
}

.we-mega-menu-toolbar .we-mega-menu-btn-add-row:hover,
.we-mega-menu-toolbar .we-mega-menu-btn-add-row:focus {
    border-color: #2a5caa;
    background-color: #2a5caa;
    color: #fff
}

.we-mega-menu-toolbar .btn-group,
.we-mega-menu-toolbar .btn-group-vertical {
    display: block
}

.we-mega-menu-toolbar .align-inner {
    -moz-border-radius: 20px;
    -webkit-border-radius: 20px;
    border-radius: 20px;
    display: -webkit-flex;
    display: flex;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-align-items: center;
    align-items: center;
    border: 1px solid #c4c4c4;
    text-align: center
}

.we-mega-menu-toolbar .align-inner:before,
.we-mega-menu-toolbar .align-inner:after {
    display: table;
    content: " "
}

.we-mega-menu-toolbar .align-inner:after {
    clear: both
}

.we-mega-menu-toolbar .align-inner>.btn {
    padding: .5625rem .75rem .5625rem .75rem;
    -webkit-flex-grow: 1;
    flex-grow: 1;
    -moz-border-radius: 0;
    -webkit-border-radius: 0;
    border-radius: 0;
    border: 0 none;
    border-right: 1px solid #c4c4c4;
    margin-left: 0
}

.we-mega-menu-toolbar .align-inner>.btn:first-child {
    -moz-border-radius-topleft: 20px;
    -webkit-border-top-left-radius: 20px;
    border-top-left-radius: 20px;
    -moz-border-radius-bottomleft: 20px;
    -webkit-border-bottom-left-radius: 20px;
    border-bottom-left-radius: 20px
}

.we-mega-menu-toolbar .align-inner>.btn:last-child {
    -moz-border-radius-topright: 20px;
    -webkit-border-top-right-radius: 20px;
    border-top-right-radius: 20px;
    -moz-border-radius-bottomright: 20px;
    -webkit-border-bottom-right-radius: 20px;
    border-bottom-right-radius: 20px;
    border-right: 0 none
}

.we-mega-menu-toolbar .align-inner>.btn:hover,
.we-mega-menu-toolbar .align-inner>.btn:focus {
    background-color: #2a5caa;
    color: #fff;
    outline: none
}

.we-mega-menu-toolbar .align-break-column {
    max-width: 6.25rem
}

.we-mega-menu-toolbar .we-mega-menu-align-btn-group:before,
.we-mega-menu-toolbar .we-mega-menu-align-btn-group:after {
    display: table;
    content: " "
}

.we-mega-menu-toolbar .we-mega-menu-align-btn-group:after {
    clear: both
}

.we-mega-menu-toolbar h2 {
    font-size: 1.875rem;
    color: #000;
    font-family: "Quicksand", sans-serif;
    font-weight: 500;
    display: block;
    margin: 0;
    width: 100%
}

.we-mega-menu-toolbar h2+p {
    width: 100%;
    font-size: .875rem;
    color: #000;
    font-family: "Quicksand", sans-serif;
    font-weight: 500;
    margin-bottom: 2.5rem
}

.we-mega-menu-toolbar label {
    font-size: 1rem;
    color: #000;
    font-family: "Quicksand", sans-serif;
    font-weight: 500;
    margin-bottom: .3125rem;
    display: block
}

.we-mega-menu-toolbar .we-mega-menu-btn-break-col {
    font-size: 0;
    height: 2.375rem;
    width: 2.375rem;
    -moz-border-radius: 0;
    -webkit-border-radius: 0;
    border-radius: 0;
    position: relative
}

.we-mega-menu-toolbar .we-mega-menu-btn-break-col:hover:after,
.we-mega-menu-toolbar .we-mega-menu-btn-break-col:focus:after {
    filter: progid: DXImageTransform.Microsoft.Alpha(enabled=false);
    opacity: 1
}

.we-mega-menu-toolbar .we-mega-menu-btn-break-col:before,
.we-mega-menu-toolbar .we-mega-menu-btn-break-col:after {
    position: absolute;
    left: 50%;
    top: 50%;
    margin-left: -.1875rem;
    margin-top: -.3125rem
}

.we-mega-menu-toolbar .we-mega-menu-btn-break-col:before {
    content: "";
    -moz-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    -webkit-transform: rotate(90deg);
    transform: rotate(90deg)
}

.we-mega-menu-toolbar .we-mega-menu-btn-break-col:last-child:before {
    -moz-transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
    -webkit-transform: rotate(-90deg);
    transform: rotate(-90deg);
    margin-left: -.375rem
}

.we-mega-menu-toolbar .we-mega-menu-btn-break-col:last-child:after {
    -moz-transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
    -webkit-transform: rotate(-90deg);
    transform: rotate(-90deg);
    margin-left: -.375rem
}

.we-mega-menu-toolbar .we-mega-menu-btn-break-col:after {
    content: "";
    -moz-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    -webkit-transform: rotate(90deg);
    transform: rotate(90deg);
    filter: progid: DXImageTransform.Microsoft.Alpha(Opacity=0);
    opacity: 0
}

.we-mega-menu-toolbar .form-group {
    margin-bottom: 1.25rem
}

.we-mega-menu-toolbar .form-control {
    min-width: 11.25rem;
    -moz-border-radius: 20px;
    -webkit-border-radius: 20px;
    border-radius: 20px;
    -moz-box-shadow: initial;
    -webkit-box-shadow: initial;
    box-shadow: initial;
    height: 2.5rem;
    padding: .5625rem 1.25rem .5625rem 1.25rem;
    border-color: #c4c4c4;
    color: #555
}

.we-mega-menu-toolbar .form-control:focus {
    -moz-box-shadow: initial;
    -webkit-box-shadow: initial;
    box-shadow: initial;
    border-color: #5e5e5e
}

.we-mega-menu-toolbar .btn-success {
    border-color: #2a5caa;
    background-color: #2a5caa
}

.we-mega-menu-toolbar .btn-success:hover,
.we-mega-menu-toolbar .btn-success:focus {
    border-color: #224a89;
    background-color: #224a89
}

.we-mega-menu-toolbar .btn-danger,
.we-mega-menu-toolbar .btn-primary {
    border-color: #c4c4c4;
    background-color: #fff;
    color: #666
}

.we-mega-menu-toolbar .btn-danger:hover,
.we-mega-menu-toolbar .btn-danger:focus,
.we-mega-menu-toolbar .btn-primary:hover,
.we-mega-menu-toolbar .btn-primary:focus {
    border-color: #2a5caa;
    background-color: #2a5caa;
    color: #fff
}

.we-mega-menu-toolbar .we-mega-menu-actions {
    margin-top: .3125rem
}

.we-mega-menu-toolbar .we-mega-menu-actions:before,
.we-mega-menu-toolbar .we-mega-menu-actions:after {
    display: table;
    content: " "
}

.we-mega-menu-toolbar .we-mega-menu-actions:after {
    clear: both
}

.we-mega-menu-toolbar .we-mega-menu-actions .col-md-12 {
    margin-left: -.3125rem;
    margin-right: -.3125rem;
    width: auto;
    float: none
}

.we-mega-menu-toolbar .we-mega-menu-actions .btn {
    width: -webkit-calc(50% - 10px);
    width: -moz-calc(50% - 10px);
    width: calc(50% - 10px);
    text-align: center;
    float: left;
    min-width: 5.3125rem;
    padding: .5625rem 0rem .5625rem 0rem;
    -moz-border-radius: 20px;
    -webkit-border-radius: 20px;
    border-radius: 20px;
    margin-bottom: .75rem;
    margin-left: .3125rem;
    margin-right: .3125rem;
    font-family: "Quicksand", sans-serif;
    font-weight: 500
}

.we-mega-menu-toolbar .we-mega-menu-actions .btn-save {
    width: -webkit-calc(100% - 10px);
    width: -moz-calc(100% - 10px);
    width: calc(100% - 10px)
}

.we-mega-menu-toolbar .ui-widget.ui-widget-content {
    margin-top: .3125rem;
    -webkit-border-radius: .1875rem;
    border-radius: .1875rem;
    border: 1px solid #c4c4c4
}

.we-mega-menu-toolbar .ui-state-active,
.we-mega-menu-toolbar .ui-widget-content .ui-state-active {
    background: #2a5caa;
    border-color: #2a5caa;
    color: #fff
}

.we-mega-menu-toolbar .chosen-container {
    width: 100% !important;
    min-width: 11.25rem
}

.we-mega-menu-toolbar .chosen-container .chosen-results li.highlighted {
    background: #2a5caa
}

.we-mega-menu-toolbar .chosen-container-active.chosen-with-drop .chosen-single div b {
    background-position: 0 0;
    -moz-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg)
}

.we-mega-menu-toolbar .chosen-container-single .chosen-single {
    display: block;
    width: 100%;
    height: 2.5rem;
    padding: .5625rem 2.1875rem .5625rem 1.25rem;
    font-size: .875rem;
    line-height: 1.42857;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #c4c4c4;
    -moz-transition-property: border-color, box-shadow;
    -o-transition-property: border-color, box-shadow;
    -webkit-transition-property: border-color, box-shadow;
    transition-property: border-color, box-shadow;
    -moz-transition-duration: 0.15s;
    -o-transition-duration: 0.15s;
    -webkit-transition-duration: 0.15s;
    transition-duration: 0.15s;
    -moz-transition-timing-function: ease-in-out;
    -o-transition-timing-function: ease-in-out;
    -webkit-transition-timing-function: ease-in-out;
    transition-timing-function: ease-in-out;
    -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    -webkit-border-radius: 1.25rem;
    border-radius: 1.25rem;
    -moz-box-shadow: initial;
    -webkit-box-shadow: initial;
    box-shadow: initial
}

.we-mega-menu-toolbar .chosen-container-single .chosen-single div {
    width: 1.25rem;
    right: .75rem
}

.we-mega-menu-toolbar .chosen-container-single .chosen-single div b {
    background-image: url("../images/ico-arrow.png") !important;
    background-size: contain !important;
    background-position: center !important;
    background-repeat: no-repeat !important;
    background-position: 0 0;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: -.375rem;
    margin-top: -.3125rem
}

.we-mega-menu-toolbar .chosen-container-single .chosen-drop {
    -webkit-border-radius: .1875rem;
    border-radius: .1875rem;
    border: 1px solid #c4c4c4;
    margin-top: .3125rem
}

@media (min-width: 992px) {
    .navbar-we-mega-menu .dropdown-menu {
        min-width: initial;
        background-color: transparent;
        position: relative;
        -moz-border-radius: 0;
        -webkit-border-radius: 0;
        border-radius: 0
    }
    .navbar-we-mega-menu .nav-tabs {
        border-bottom: 0 none
    }
    .navbar-we-mega-menu .we-mega-menu-group>a {
        padding-right: .625rem
    }
    .navbar-we-mega-menu .we-mega-menu-group>a:before,
    .navbar-we-mega-menu .we-mega-menu-group>a:after {
        display: none
    }
    .navbar-we-mega-menu .we-mega-menu-group>.we-mega-menu-submenu {
        display: block !important;
        position: static;
        margin: 0 !important;
        padding: 0;
        border: 0 none !important;
        -moz-box-shadow: none !important;
        -webkit-box-shadow: none !important;
        box-shadow: none !important;
        min-width: initial;
        visibility: hidden;
        opacity: 0;
        filter: alpha(opacity=0);
    }
    .navbar-we-mega-menu iframe {
        max-width: 100%;
        border: 0 none
    }
    .navbar-we-mega-menu .nav-tabs>li.active>a,
    .navbar-we-mega-menu .nav-tabs>li.active>a:focus,
    .navbar-we-mega-menu .nav-tabs>li.active>a:hover {
        cursor: pointer
    }
    .navbar-we-mega-menu .type-of-block {
        font-family: "Quicksand", sans-serif;
        font-weight: 400
    }
    .navbar-we-mega-menu .type-of-block h2 {
        margin-top: 0;
        margin-bottom: .625rem;
        font-size: .875rem;
        text-transform: uppercase;
        font-family: "Quicksand", sans-serif;
        font-weight: 700
    }
    .navbar-we-mega-menu .type-of-block a {
        color: #666;
        outline: none;
        font-family: "Quicksand", sans-serif;
        font-weight: 400
    }
    .navbar-we-mega-menu .type-of-block a:hover,
    .navbar-we-mega-menu .type-of-block a:focus {
        color: #000;
        text-decoration: none
    }
    .navbar-we-mega-menu .views-field {
        margin-bottom: 5px
    }
    .navbar-we-mega-menu .view-slide {
        position: relative
    }
    .navbar-we-mega-menu .view-slide .views-row {
        position: relative
    }
    .navbar-we-mega-menu .view-slide .views-field-title {
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        width: 100%;
        padding: 5px 10px;
        background-color: rgba(0, 0, 0, 0.7);
        color: #fff
    }
    .navbar-we-mega-menu .view-slide .views-field-title a {
        color: #fff
    }
    .navbar-we-mega-menu .view-slide .views-field-title a:hover,
    .navbar-we-mega-menu .view-slide .views-field-title a:focus {
        text-decoration: underline
    }
    .navbar-we-mega-menu .flex-direction-nav {
        padding: 0;
        margin: 0;
        list-style: none
    }
    .navbar-we-mega-menu .flex-prev,
    .navbar-we-mega-menu .flex-next {
        position: absolute;
        top: 50%;
        font-size: 0;
        width: 20px;
        height: 20px;
        -moz-border-radius: 50%;
        -webkit-border-radius: 50%;
        border-radius: 50%;
        text-align: center;
        background-color: rgba(0, 0, 0, 0.7);
        margin-top: -10px
    }
    .navbar-we-mega-menu .flex-prev:before,
    .navbar-we-mega-menu .flex-next:before {
        content: '';
        display: inline-block;
        font-family: "Font Awesome 5 Pro";
        font-size: inherit;
        text-rendering: auto;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
        font-size: 14px;
        color: #fff;
        line-height: 18px
    }
    .navbar-we-mega-menu .flex-prev:hover,
    .navbar-we-mega-menu .flex-prev:focus,
    .navbar-we-mega-menu .flex-next:hover,
    .navbar-we-mega-menu .flex-next:focus {
        filter: progid: DXImageTransform.Microsoft.Alpha(Opacity=80);
        opacity: .8
    }
    .navbar-we-mega-menu .flex-prev {
        left: 5px
    }
    .navbar-we-mega-menu .flex-prev:before {
        content: "\f104"
    }
    .navbar-we-mega-menu .flex-next {
        right: 5px
    }
    .navbar-we-mega-menu .flex-next:before {
        content: "\f105"
    }
    .we-mega-menu-ul {
        position: relative;
        margin: 0;
        border-bottom: 0 none;
        padding: 0
    }
    .we-mega-menu-ul .dropdown-menu {
        margin-top: 0
    }
    .we-mega-menu-ul .we-mega-menu-li {
        border: none;
        padding: 0;
        -webkit-box-shadow: none;
        -moz-box-shadow: none;
        box-shadow: none;
        position: static
    }
    .we-mega-menu-ul .we-mega-menu-li.dropdown-menu .we-mega-menu-submenu {
        visibility: hidden;
        filter: progid: DXImageTransform.Microsoft.Alpha(Opacity=0);
        opacity: 0
    }
    .we-mega-menu-ul .dropdown-menu>a,
    .we-mega-menu-ul .dropdown-menu>span {
        position: relative
    }
    .we-mega-menu-ul .dropdown-menu>a:before,
    .we-mega-menu-ul .dropdown-menu>a:after,
    .we-mega-menu-ul .dropdown-menu>span:before,
    .we-mega-menu-ul .dropdown-menu>span:after {
        content: '';
        position: absolute;
        right: .9375rem;
        top: 50%;
        margin-top: -.3125rem;
        width: .6875rem;
        height: .6875rem;
        background-size: contain;
        background-position: center;
        background-repeat: no-repeat;
        display: inline-block
    }
    .we-mega-menu-ul .dropdown-menu>a:before,
    .we-mega-menu-ul .dropdown-menu>span:before {
        background-image: url("../images/ico-arrow.png")
    }
    .we-mega-menu-ul .dropdown-menu>a:after,
    .we-mega-menu-ul .dropdown-menu>span:after {
        background-image: url("../images/ico-arrow-white.png");
        filter: progid: DXImageTransform.Microsoft.Alpha(Opacity=0);
        opacity: 0
    }
    .we-mega-menu-ul .dropdown-menu .dropdown-menu>a:after,
    .we-mega-menu-ul .dropdown-menu .dropdown-menu>span:after {
        -moz-transform: rotate(-90deg);
        -ms-transform: rotate(-90deg);
        -webkit-transform: rotate(-90deg);
        transform: rotate(-90deg);
        position: absolute;
        right: 0rem;
        top: 50%;
        margin-top: -.3125rem
    }
    .we-mega-menu-col {
        -moz-transition: all .1s ease;
        -o-transition: all .1s ease;
        -webkit-transition: all .1s ease;
        transition: all .1s ease;
        min-height: 1.875rem;
        margin-top: .3125rem;
        margin-bottom: .3125rem
    }
    .we-mega-menu-submenu {
        position: absolute;
        z-index: 99;
        -moz-transition: all .1s ease;
        -o-transition: all .1s ease;
        -webkit-transition: all .1s ease;
        transition: all .1s ease;
        min-width: 12.5rem
    }
    .we-mega-menu-submenu li.we-mega-menu-li {
        display: block;
        float: none
    }
    .we-mega-menu-submenu li.we-mega-menu-li a:before,
    .we-mega-menu-submenu li.we-mega-menu-li a:after,
    .we-mega-menu-submenu li.we-mega-menu-li span:before,
    .we-mega-menu-submenu li.we-mega-menu-li span:after {
        right: .3125rem;
        -moz-transform: rotate(-90deg);
        -ms-transform: rotate(-90deg);
        -webkit-transform: rotate(-90deg);
        transform: rotate(-90deg)
    }
    .we-mega-menu-submenu li.we-mega-menu-li:last-child {
        margin-bottom: 0
    }
    .we-mega-menu-submenu ul {
        margin: 0
    }
    .we-mega-menu-submenu .we-mega-menu-submenu {
        top: 0;
        left: 100%;
        margin: 0;
        min-width: 12.5rem
    }
    .we-mega-menu-submenu .we-mega-menu-submenu .dropdown-menu {
        min-width: initial
    }
}

.we-mega-menu-backend .we-mega-menu-group .we-mega-menu-col {
    margin-top: .3125rem;
    margin-bottom: .3125rem
}

.we-mega-menu-backend .we-mega-menu-group>.we-mega-menu-submenu.hover,
.we-mega-menu-backend .we-mega-menu-group>.we-mega-menu-submenu {
    background: transparent !important;
    border: 1px solid transparent !important;
    -moz-box-shadow: inherit !important;
    -webkit-box-shadow: inherit !important;
    box-shadow: inherit !important;
    -moz-border-radius: 0;
    -webkit-border-radius: 0;
    border-radius: 0
}

.we-mega-menu-backend .we-mega-menu-col {
    border: 1px solid #c4c4c4;
    background: #fff;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px
}

.we-mega-menu-backend .we-mega-menu-col.hover {
    color: #000;
    background: #fffbf0 !important;
    border: 1px solid #666666 !important;
    -moz-box-shadow: 1px 2px 5px rgba(0, 0, 0, 0.5) !important;
    -webkit-box-shadow: 1px 2px 5px rgba(0, 0, 0, 0.5) !important;
    box-shadow: 1px 2px 5px rgba(0, 0, 0, 0.5) !important;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px
}

.we-mega-menu-backend .navbar-we-mega-menu.admin {
    min-height: 50rem;
    padding: 0
}

.we-mega-menu-backend .navbar-we-mega-menu .selected {
    color: #000 !important;
    background: #fffbf0 !important;
    border: 1px solid #666666 !important;
    -moz-box-shadow: 1px 2px 5px rgba(0, 0, 0, 0.5) !important;
    -webkit-box-shadow: 1px 2px 5px rgba(0, 0, 0, 0.5) !important;
    box-shadow: 1px 2px 5px rgba(0, 0, 0, 0.5) !important;
    -moz-border-radius: 3px !important;
    -webkit-border-radius: 3px;
    border-radius: 3px !important
}

.we-mega-menu-backend .navbar-we-mega-menu .we-mega-menu-row ~ .we-mega-menu-row {
    padding-top: .3125rem;
    margin-top: .3125rem
}

.we-mega-menu-backend .navbar-we-mega-menu .right>.we-mega-menu-submenu {
    left: auto;
    right: 0
}

.we-mega-menu-backend .navbar-we-mega-menu .center>.we-mega-menu-submenu {
    left: 50%;
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    top: 100%;
    margin-top: .3125rem
}

.we-mega-menu-backend .navbar-we-mega-menu .justify {
    position: static
}

.we-mega-menu-backend .navbar-we-mega-menu .justify>.we-mega-menu-submenu {
    min-width: 100%;
    width: 100%;
    top: 100%;
    margin-top: .3125rem
}

.we-mega-menu-backend .navbar-we-mega-menu .we-mega-menu-submenu .right>.we-mega-menu-submenu {
    left: auto;
    right: 100%;
    margin-left: 0;
    margin-right: 1.25rem
}

.we-mega-menu-backend .navbar-we-mega-menu .we-mega-menu-submenu .center>.we-mega-menu-submenu {
    left: 50%;
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    margin-left: 0
}

.we-mega-menu-backend .navbar-we-mega-menu .we-mega-menu-submenu .justify {
    position: initial
}

.we-mega-menu-backend .navbar-we-mega-menu .we-mega-menu-submenu .justify>.we-mega-menu-submenu {
    min-width: 100%;
    left: 0;
    margin-left: 0
}

.we-mega-menu-backend .navbar-we-mega-menu .we-mega-menu-submenu a i,
.we-mega-menu-backend .navbar-we-mega-menu .we-mega-menu-submenu span i {
    font-size: .625rem
}

.we-mega-menu-backend .navbar-we-mega-menu .we-mega-menu-submenu li.we-mega-menu-li a:hover,
.we-mega-menu-backend .navbar-we-mega-menu .we-mega-menu-submenu li.we-mega-menu-li a:focus,
.we-mega-menu-backend .navbar-we-mega-menu .we-mega-menu-submenu li.we-mega-menu-li span:hover,
.we-mega-menu-backend .navbar-we-mega-menu .we-mega-menu-submenu li.we-mega-menu-li span:focus {
    border-bottom-color: #c4c4c4
}

.we-mega-menu-backend .navbar-we-mega-menu .we-mega-menu-caption {
    color: #999;
    font-size: .6875rem;
    margin-top: .125rem;
    display: block;
    white-space: nowrap
}

.we-mega-menu-backend .navbar-we-mega-menu a i {
    margin-right: .3125rem;
    font-size: .75rem
}

.we-mega-menu-backend .navbar-we-mega-menu [class*="span"].hover .type-of-block:after,
.we-mega-menu-backend .navbar-we-mega-menu [class*="span"].selected .type-of-block:after {
    border-style: solid;
    border-color: #666666;
    background-color: #666666;
    color: #fff
}

.we-mega-menu-backend .navbar-we-mega-menu .type-of-block {
    position: relative;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: column;
    flex-direction: column;
    -webkit-flex: 1;
    flex: 1
}

.we-mega-menu-backend .navbar-we-mega-menu .we-mega-menu-col>* {
    padding: .625rem .625rem .625rem .625rem
}

.we-mega-menu-backend .navbar-we-mega-menu .we-mega-menu-col iframe {
    width: 100%
}

.we-mega-menu-backend .navbar-we-mega-menu.admin .type-of-block {
    pointer-events: none;
    cursor: default
}

.we-mega-menu-backend .navbar-we-mega-menu.admin .type-of-block .block-inner {
    filter: progid: DXImageTransform.Microsoft.Alpha(Opacity=30);
    opacity: .3
}

.we-mega-menu-backend .navbar-we-mega-menu.admin .type-of-block:after {
    display: block;
    position: absolute;
    background: #eff0f1;
    right: 0;
    bottom: 0;
    content: "Block";
    width: 3.75rem;
    padding: .125rem 0rem .125rem 0rem;
    text-align: center;
    font-size: .625rem;
    text-transform: uppercase;
    color: #666;
    -moz-border-radius: 3px 0 0 0;
    -webkit-border-radius: 3px;
    border-radius: 3px 0 0 0;
    border: 1px dotted #ddd;
    border-width: 1px 0 0 1px
}

.we-mega-menu-backend .navbar-we-mega-menu {
    background-color: white;
    border: 0 none;
    border-top: 0 none;
    padding-top: 1.875rem;
    padding-bottom: 1.875rem;
    -moz-border-radius: 0;
    -webkit-border-radius: 0;
    border-radius: 0;
    z-index: 10
}

.we-mega-menu-backend .we-mega-menu-ul {
    display: -webkit-flex;
    display: flex;
    margin-left: -.25rem;
    margin-right: -.25rem;
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap
}

.we-mega-menu-backend .we-mega-menu-ul>.we-mega-menu-li {
    border: none;
    padding: 0;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    padding-bottom: .3125rem;
    margin-left: .25rem;
    margin-right: .25rem
}

.we-mega-menu-backend .we-mega-menu-ul>.we-mega-menu-li>a.we-mega-menu-li {
    text-align: left;
    color: #000;
    font-family: "Quicksand", sans-serif;
    font-weight: 700;
    font-size: .875rem;
    margin: 0;
    border: 1px solid #c4c4c4;
    padding: .5625rem 2.8125rem .5625rem .9375rem;
    background: transparent;
    font-weight: bold;
    -webkit-border-radius: 1.25rem;
    border-radius: 1.25rem;
    -moz-transition: all .1s ease;
    -o-transition: all .1s ease;
    -webkit-transition: all .1s ease;
    transition: all .1s ease;
    display: -webkit-flex;
    display: flex;
    -webkit-align-items: center;
    align-items: center
}

.we-mega-menu-backend .we-mega-menu-ul>.we-mega-menu-li>a.we-mega-menu-li:hover,
.we-mega-menu-backend .we-mega-menu-ul>.we-mega-menu-li>a.we-mega-menu-li:focus,
.we-mega-menu-backend .we-mega-menu-ul>.we-mega-menu-li>a.we-mega-menu-li:active {
    color: #000;
    text-decoration: none
}

.we-mega-menu-backend .we-mega-menu-ul>.we-mega-menu-li>.we-megamenu-nolink {
    text-align: left;
    color: #000;
    font-family: "Quicksand", sans-serif;
    font-weight: 700;
    font-size: .875rem;
    margin: 0;
    border: 1px solid #c4c4c4;
    padding: .5625rem 2.8125rem .5625rem .9375rem;
    background: transparent;
    font-weight: bold;
    -webkit-border-radius: 1.25rem;
    border-radius: 1.25rem;
    -moz-transition: all .1s ease;
    -o-transition: all .1s ease;
    -webkit-transition: all .1s ease;
    transition: all .1s ease;
    display: -webkit-flex;
    display: flex;
    -webkit-align-items: center;
    align-items: center
}

.we-mega-menu-backend .we-mega-menu-ul>.we-mega-menu-li.selected {
    border: 0 none !important;
    background: none !important;
    -moz-box-shadow: none !important;
    -webkit-box-shadow: none !important;
    box-shadow: none !important
}

.we-mega-menu-backend .we-mega-menu-ul>.we-mega-menu-li.selected>a {
    color: #000 !important;
    background: #fffbf0 !important;
    border: 1px solid #666666 !important;
    -moz-box-shadow: 1px 2px 5px rgba(0, 0, 0, 0.5) !important;
    -webkit-box-shadow: 1px 2px 5px rgba(0, 0, 0, 0.5) !important;
    box-shadow: 1px 2px 5px rgba(0, 0, 0, 0.5) !important;
    -moz-border-radius: 20px !important;
    -webkit-border-radius: 20px;
    border-radius: 20px !important
}

.we-mega-menu-backend .we-mega-menu-ul>.we-mega-menu-li.hover>a,
.we-mega-menu-backend .we-mega-menu-ul>.we-mega-menu-li.hover>span {
    color: #666 !important;
    background: #fffbf0 !important;
    border: 1px solid #666666 !important;
    -moz-box-shadow: 1px 2px 5px rgba(0, 0, 0, 0.5) !important;
    -webkit-box-shadow: 1px 2px 5px rgba(0, 0, 0, 0.5) !important;
    box-shadow: 1px 2px 5px rgba(0, 0, 0, 0.5) !important
}

.we-mega-menu-backend .we-mega-menu-ul>.we-mega-menu-li.hover>a:before,
.we-mega-menu-backend .we-mega-menu-ul>.we-mega-menu-li.hover>span:before {
    filter: progid: DXImageTransform.Microsoft.Alpha(enabled=false);
    opacity: 1
}

.we-mega-menu-backend .we-mega-menu-ul>.we-mega-menu-li.hover>a:after,
.we-mega-menu-backend .we-mega-menu-ul>.we-mega-menu-li.hover>span:after {
    filter: progid: DXImageTransform.Microsoft.Alpha(Opacity=0);
    opacity: 0
}

.we-mega-menu-backend .we-mega-menu-ul .we-mega-menu-li.dropdown-menu .we-mega-menu-submenu {
    -moz-transition: none;
    -o-transition: none;
    -webkit-transition: none;
    transition: none
}

.we-mega-menu-backend .we-mega-menu-ul .we-mega-menu-li.dropdown-menu.open {
    position: relative;
    z-index: 25
}

.we-mega-menu-backend .we-mega-menu-ul .we-mega-menu-li.dropdown-menu.open>.we-mega-menu-submenu {
    display: block;
    filter: progid: DXImageTransform.Microsoft.Alpha(enabled=false);
    opacity: 1;
    visibility: visible
}

.we-mega-menu-backend .we-mega-menu-ul .dropdown-menu .dropdown-menu:first-child>.we-mega-menu-submenu {
    margin-top: 0
}

.we-mega-menu-backend .we-mega-menu-submenu {
    border: 1px solid #c4c4c4;
    padding: .625rem .625rem .625rem .625rem;
    margin-top: .625rem;
    -webkit-border-radius: .1875rem;
    border-radius: .1875rem;
    -moz-box-shadow: 1px 2px 5px rgba(0, 0, 0, 0.2) !important;
    -webkit-box-shadow: 1px 2px 5px rgba(0, 0, 0, 0.2) !important;
    box-shadow: 1px 2px 5px rgba(0, 0, 0, 0.2) !important;
    background: #fdfdfd
}

.we-mega-menu-backend .we-mega-menu-submenu.hover {
    background: #fffbf0 !important;
    border: 1px solid #666666 !important;
    -moz-box-shadow: 1px 2px 5px rgba(0, 0, 0, 0.5) !important;
    -webkit-box-shadow: 1px 2px 5px rgba(0, 0, 0, 0.5) !important;
    box-shadow: 1px 2px 5px rgba(0, 0, 0, 0.5) !important;
    -webkit-border-radius: .1875rem;
    border-radius: .1875rem
}

.we-mega-menu-backend .we-mega-menu-submenu.hover>a,
.we-mega-menu-backend .we-mega-menu-submenu.hover .we-megamenu-nolink {
    background: #fffbf0 !important;
    border: 1px solid #666666 !important;
    -moz-box-shadow: 1px 2px 5px rgba(0, 0, 0, 0.5) !important;
    -webkit-box-shadow: 1px 2px 5px rgba(0, 0, 0, 0.5) !important;
    box-shadow: 1px 2px 5px rgba(0, 0, 0, 0.5) !important
}

.we-mega-menu-backend .we-mega-menu-submenu li.we-mega-menu-li {
    margin-bottom: .3125rem;
    top: auto
}

.we-mega-menu-backend .we-mega-menu-submenu li.we-mega-menu-li a,
.we-mega-menu-backend .we-mega-menu-submenu li.we-mega-menu-li .we-megamenu-nolink {
    padding: .3125rem 1.25rem .3125rem .625rem;
    border: 1px dotted #c4c4c4;
    -webkit-border-radius: .1875rem;
    border-radius: .1875rem;
    font-size: .875rem;
    font-family: "Quicksand", sans-serif;
    font-weight: 500;
    color: #000;
    -moz-transition: all .1s;
    -o-transition: all .1s;
    -webkit-transition: all .1s;
    transition: all .1s;
    margin-right: 0;
    outline: none;
    position: relative;
    background-color: #fff;
    display: block
}

.we-mega-menu-backend .we-mega-menu-submenu li.we-mega-menu-li:first-child>a,
.we-mega-menu-backend .we-mega-menu-submenu li.we-mega-menu-li:first-child>.we-megamenu-nolink {
    padding-top: .3125rem
}

.we-mega-menu-backend .we-mega-menu-submenu li.we-mega-menu-li:first-child>a:before,
.we-mega-menu-backend .we-mega-menu-submenu li.we-mega-menu-li:first-child>a:after,
.we-mega-menu-backend .we-mega-menu-submenu li.we-mega-menu-li:first-child>.we-megamenu-nolink:before,
.we-mega-menu-backend .we-mega-menu-submenu li.we-mega-menu-li:first-child>.we-megamenu-nolink:after {
    margin-top: -.3125rem
}

.we-mega-menu-backend .we-mega-menu-submenu li.we-mega-menu-li.open>a,
.we-mega-menu-backend .we-mega-menu-submenu li.we-mega-menu-li.open>.we-megamenu-nolink {
    color: #000;
    background: #fffbf0 !important;
    border: 1px solid #666666 !important
}

.we-mega-menu-backend .we-mega-menu-submenu li.we-mega-menu-li.selected {
    border: 0 none !important;
    -moz-box-shadow: initial !important;
    -webkit-box-shadow: initial !important;
    box-shadow: initial !important
}

.we-mega-menu-backend .we-mega-menu-submenu li.we-mega-menu-li.hover>a,
.we-mega-menu-backend .we-mega-menu-submenu li.we-mega-menu-li.hover>.we-megamenu-nolink {
    color: #666 !important;
    background: #fffbf0 !important;
    border: 1px solid #666666 !important;
    -moz-box-shadow: 1px 2px 5px rgba(0, 0, 0, 0.5) !important;
    -webkit-box-shadow: 1px 2px 5px rgba(0, 0, 0, 0.5) !important;
    box-shadow: 1px 2px 5px rgba(0, 0, 0, 0.5) !important
}

.we-mega-menu-backend .we-mega-menu-submenu .we-mega-menu-submenu {
    margin-left: .625rem;
    margin-top: 0
}

.we-mega-menu-backend .we-mega-menu-submenu>.we-mega-menu-submenu-inner {
    min-height: auto
}

.we-mega-menu-backend .we-mega-menu-ul .dropdown-menu:hover>.we-mega-menu-submenu,
.we-mega-menu-backend .we-mega-menu-ul .dropdown-menu:focus>.we-mega-menu-submenu {
    display: none
}

.we-mega-menu-backend .we-mega-menu-ul>.dropdown-menu>.we-mega-menu-submenu {
    margin-top: .5rem
}

body.we-mega-menu-backend {
    font-size: .875rem
}

body.we-mega-menu-backend .breadcrumb {
    background-color: #fff
}

body.we-mega-menu-backend .messages--error {
    display: none
}

body.we-mega-menu-backend .block-system-main-block {
    font-family: "Quicksand", sans-serif;
    font-weight: 400;
    border: 1px solid #c4c4c4;
    padding: 5% 3%;
    position: relative
}

body.we-mega-menu-backend .block-system-main-block:before,
body.we-mega-menu-backend .block-system-main-block:after {
    display: table;
    content: " "
}

body.we-mega-menu-backend .block-system-main-block:after {
    clear: both
}

body.we-mega-menu-backend .block-system-main-block>.we-mega-menu {
    float: right;
    padding-left: 4%;
    width: 30%;
    background-image: url("../images/bar-bor.png");
    background-repeat: no-repeat;
    background-position: left center;
    background-size: contain;
    padding-bottom: 8.75rem
}

.we-mega-menu .ico-toolbar {
    height: 39px;
    padding: 0;
    text-indent: -999em;
    width: 39px;
    background-color: #fafafa;
    border: 0;
    font-size: 1em;
    cursor: pointer;
    display: inline-block;
    position: absolute;
    right: 0;
    top: 0;
    -moz-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    -webkit-transform: rotate(90deg);
    transform: rotate(90deg);
    filter: progid: DXImageTransform.Microsoft.Alpha(Opacity=70);
    opacity: .7;
    overflow: hidden
}

.we-mega-menu .ico-toolbar:before {
    background-attachment: scroll;
    background-color: transparent;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 100% auto;
    content: '';
    display: block;
    height: 100%;
    left: 0;
    right: 0;
    position: absolute;
    top: 0;
    width: 20px;
    margin: 0 auto;
    background-image: url("../images/push-left.svg")
}

.we-mega-menu .ico-toolbar:hover,
.we-mega-menu .ico-toolbar:focus {
    outline: none;
    filter: progid: DXImageTransform.Microsoft.Alpha(enabled=false);
    opacity: 1
}

.navbar-we-mega-menu.admin {
    float: left;
    width: 70%;
    padding-right: 20px
}

.navbar-we-mega-menu.admin .we-mega-menu-ul>.we-mega-menu-li>a.we-mega-menu-li {
    min-width: 10.625rem
}

.we-mega-menu-backend.we-mega-menu-toolbar-horizontal .we-mega-menu-toolbar h2+p {
    margin-bottom: 1.875rem
}

.we-mega-menu-backend.we-mega-menu-toolbar-horizontal .we-mega-menu {
    position: relative
}

.we-mega-menu-backend.we-mega-menu-toolbar-horizontal .we-mega-menu .ico-toolbar {
    bottom: 0;
    top: auto;
    -moz-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg)
}

.we-mega-menu-backend.we-mega-menu-toolbar-horizontal .block-system-main-block {
    padding: 0;
    font-family: "Quicksand", sans-serif;
    font-weight: 400
}

.we-mega-menu-backend.we-mega-menu-toolbar-horizontal .block-system-main-block:before,
.we-mega-menu-backend.we-mega-menu-toolbar-horizontal .block-system-main-block:after {
    display: table;
    content: " "
}

.we-mega-menu-backend.we-mega-menu-toolbar-horizontal .block-system-main-block:after {
    clear: both
}

.we-mega-menu-backend.we-mega-menu-toolbar-horizontal .block-system-main-block>.we-mega-menu {
    width: auto;
    padding: 2% 3%;
    background-color: #fafafa;
    background-image: none
}

.we-mega-menu-backend.we-mega-menu-toolbar-horizontal .navbar-we-mega-menu.admin {
    width: 100%;
    padding: 3% 3%
}

.we-mega-menu-backend.we-mega-menu-toolbar-horizontal .col-md-12 {
    display: -webkit-flex;
    display: flex;
    -webkit-flex-flow: row wrap;
    flex-flow: row wrap;
    padding-left: 0;
    padding-right: 0
}

.we-mega-menu-backend.we-mega-menu-toolbar-horizontal .col-md-12>* {
    padding-left: .9375rem;
    padding-right: .9375rem
}

.we-mega-menu-backend.we-mega-menu-toolbar-horizontal .col-md-12>h2,
.we-mega-menu-backend.we-mega-menu-toolbar-horizontal .col-md-12>h2+p {
    padding-right: 30%
}

.we-mega-menu-backend.we-mega-menu-toolbar-horizontal .col-md-12 .clearfix {
    width: 100%;
    order: 10
}

.we-mega-menu-backend.we-mega-menu-toolbar-horizontal .we-mega-menu-actions {
    position: absolute;
    right: 0;
    top: 0;
    width: 25%
}

.we-mega-menu-backend.we-mega-menu-toolbar-horizontal .we-mega-menu-actions .col-md-12 {
    padding-right: 0
}

.we-mega-menu-backend.we-mega-menu-toolbar-horizontal .form-group:not(.form-fix-width) {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 33.3333%;
    -ms-flex: 0 0 33.3333%;
    flex: 0 0 33.3333%;
    max-width: 33.3333%
}

body:not(.we-mega-menu-backend) .navbar-we-mega-menu .always-show .caret,
body:not(.we-mega-menu-backend) .navbar-we-mega-menu [class*="hidden-collapse"]>.nav-child,
body:not(.we-mega-menu-backend) .navbar-we-mega-menu [class*="hidden-collapse"] .caret,
body:not(.we-mega-menu-backend) .navbar-we-mega-menu [class*="hidden-collapse"]>a:after,
body:not(.we-mega-menu-backend) .navbar-we-mega-menu [class*="hidden-collapse"]>a:before,
body:not(.we-mega-menu-backend) .navbar-we-mega-menu .hidden-collapse,
body:not(.we-mega-menu-backend) .navbar-we-mega-menu .always-show .dropdown-submenu>a:after,
body:not(.we-mega-menu-backend) .navbar-we-mega-menu .always-show .dropdown-submenu>a:before {
    display: none !important
}

body:not(.we-mega-menu-backend) .navbar-we-mega-menu [class*="hidden-collapse"]>.we-mega-menu-submenu {
    display: none !important
}

body:not(.we-mega-menu-backend) .navbar-we-mega-menu[data-alwayshowsubmenu="0"] .we-mega-menu-submenu {
    display: none !important
}

body:not(.we-mega-menu-backend) .navbar-we-mega-menu[data-alwayshowsubmenu="0"] .dropdown-menu>a:before,
body:not(.we-mega-menu-backend) .navbar-we-mega-menu[data-alwayshowsubmenu="0"] .dropdown-menu>a:after,
body:not(.we-mega-menu-backend) .navbar-we-mega-menu[data-alwayshowsubmenu="0"] .dropdown-menu>span:before,
body:not(.we-mega-menu-backend) .navbar-we-mega-menu[data-alwayshowsubmenu="0"] .dropdown-menu>span:after {
    display: none !important
}

.navbar-we-mega-menu[data-autoarrow="0"]:not(.admin) .dropdown-menu>a:before,
.navbar-we-mega-menu[data-autoarrow="0"]:not(.admin) .dropdown-menu>a:after,
.navbar-we-mega-menu[data-autoarrow="0"]:not(.admin) .dropdown-menu>span:before,
.navbar-we-mega-menu[data-autoarrow="0"]:not(.admin) .dropdown-menu>span:after {
    display: none
}

.navbar-we-mega-menu .we-mega-menu-caption {
    color: #999;
    font-size: .75rem;
    margin-top: 2px;
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 100%;
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%
}

.navbar-we-mega-menu .we-mega-menu-caption {
    display: block;
    white-space: nowrap
}

@media (min-width: 992px) {
    .navbar-we-mega-menu {
        background-color: #eff0f1;
        border: 0 none;
        padding: 0;
        -moz-border-radius: 0;
        -webkit-border-radius: 0;
        border-radius: 0;
        min-height: inherit
    }
    .navbar-we-mega-menu>.container-fluid {
        padding-left: 0;
        padding-right: 0
    }
    .navbar-we-mega-menu[data-autoarrow="0"]:not(.admin) .dropdown-menu>a,
    .navbar-we-mega-menu[data-autoarrow="0"]:not(.admin) .dropdown-menu>span {
        padding-right: 1.5625rem
    }
    .we-mega-menu-submenu .we-mega-menu-submenu {
        margin-left: 0
    }
    .we-mega-menu-ul {
        display: -webkit-flex;
        display: flex
    }
    .we-mega-menu-ul>.we-mega-menu-li {
        display: -webkit-flex;
        display: flex
    }
    .we-mega-menu-ul>.we-mega-menu-li>a,
    .we-mega-menu-ul>.we-mega-menu-li .we-megamenu-nolink {
        display: -webkit-flex;
        display: flex;
        -webkit-flex-wrap: wrap;
        flex-wrap: wrap;
        -webkit-align-items: center;
        align-items: center;
        -webkit-flex: 1 1 auto;
        flex: 1 1 auto
    }
    .we-mega-menu-ul .dropdown-menu {
        top: auto;
        position: relative
    }
    .we-mega-menu-ul .dropdown-menu:hover>a,
    .we-mega-menu-ul .dropdown-menu:hover>span,
    .we-mega-menu-ul .dropdown-menu:focus>a,
    .we-mega-menu-ul .dropdown-menu:focus>span {
        color: #666
    }
    .we-mega-menu-ul .dropdown-menu:hover > .we-mega-menu-submenu,
    .we-mega-menu-ul .dropdown-menu:focus > .we-mega-menu-submenu,
    .we-mega-menu-ul .dropdown-menu:hover > .we-mega-menu-submenu .we-mega-menu-submenu,
    .we-mega-menu-ul .dropdown-menu:focus > .we-mega-menu-submenu .we-mega-menu-submenu{
        display: block;
        filter: progid: DXImageTransform.Microsoft.Alpha(enabled=false);
        opacity: 1;
        visibility: visible
    }
    .we-mega-menu-ul .dropdown-menu .dropdown-menu:first-child>.we-mega-menu-submenu {
        margin-top: -1rem
    }
    .we-mega-menu-ul>.we-mega-menu-li {
        margin: 0;
        border-left: 1px solid rgba(0, 0, 0, 0.1)
    }
    .we-mega-menu-ul>.we-mega-menu-li>a {
        background-color: #eff0f1;
        border: 0 none;
        -moz-border-radius: 0;
        -webkit-border-radius: 0;
        border-radius: 0;
        margin-right: 0;
        color: #666;
        font-size: .8125rem;
        font-family: "Quicksand", sans-serif;
        font-weight: 700;
        text-transform: uppercase;
        padding: 1.125rem 1.5625rem 1.125rem 1.5625rem
    }
    .we-mega-menu-ul>.we-mega-menu-li>a:before {
        filter: progid: DXImageTransform.Microsoft.Alpha(enabled=false);
        opacity: 1
    }
    .we-mega-menu-ul>.we-mega-menu-li>a:after {
        filter: progid: DXImageTransform.Microsoft.Alpha(Opacity=0);
        opacity: 0
    }
    .we-mega-menu-ul>.we-mega-menu-li>a:hover,
    .we-mega-menu-ul>.we-mega-menu-li>a:focus {
        background: rgba(0, 0, 0, 0.1);
        border: 0 none;
        color: #666;
        text-decoration: none;
        text-shadow: initial
    }
    .we-mega-menu-ul>.we-mega-menu-li:first-child {
        border-left: 0 none
    }
    .we-mega-menu-ul>.we-mega-menu-li.active>a,
    .we-mega-menu-ul>.we-mega-menu-li.active>a:hover,
    .we-mega-menu-ul>.we-mega-menu-li.active>a:focus,
    .we-mega-menu-ul>.we-mega-menu-li.active-trail>a,
    .we-mega-menu-ul>.we-mega-menu-li.active-trail>a:hover,
    .we-mega-menu-ul>.we-mega-menu-li.active-trail>a:focus {
        background-color: rgba(0, 0, 0, 0.1);
        color: #666;
        border: 0 none
    }
    .we-mega-menu-ul>.we-mega-menu-li>span {
        background-color: #eff0f1;
        border: 0 none;
        -moz-border-radius: 0;
        -webkit-border-radius: 0;
        border-radius: 0;
        margin-right: 0;
        color: #666;
        font-size: .8125rem;
        font-family: "Quicksand", sans-serif;
        font-weight: 700;
        text-transform: uppercase;
        padding: 1.125rem 1.5625rem 1.125rem 1.5625rem
    }
    .we-mega-menu-ul>.we-mega-menu-li>span:before {
        filter: progid: DXImageTransform.Microsoft.Alpha(enabled=false);
        opacity: 1
    }
    .we-mega-menu-ul>.we-mega-menu-li>span:after {
        filter: progid: DXImageTransform.Microsoft.Alpha(Opacity=0);
        opacity: 0
    }
    .we-mega-menu-ul>.dropdown-menu {
        z-index: 21
    }
    .we-mega-menu-ul>.dropdown-menu>a,
    .we-mega-menu-ul>.dropdown-menu>span {
        padding-right: 2.375rem
    }
    .we-mega-menu-ul>.dropdown-menu:hover>a,
    .we-mega-menu-ul>.dropdown-menu:hover>span,
    .we-mega-menu-ul>.dropdown-menu:focus>a,
    .we-mega-menu-ul>.dropdown-menu:focus>span {
        background: rgba(0, 0, 0, 0.1);
        color: #666;
        z-index: 23
    }
    .we-mega-menu-ul>.dropdown-menu:first-child>.we-mega-menu-submenu {
        margin-left: 0
    }
    .we-mega-menu-ul>.dropdown-menu[class*="hidden-collapse"]>a {
        padding-right: 1.5625rem
    }
    .navbar-we-mega-menu .we-mega-menu-group>.we-mega-menu-submenu {
        -moz-animation-name: initial !important;
        -webkit-animation-name: initial !important;
        animation-name: initial !important;
        padding: 0
    }
    .navbar-we-mega-menu .we-mega-menu-group>.we-mega-menu-submenu li:first-child>a,
    .navbar-we-mega-menu .we-mega-menu-group>.we-mega-menu-submenu li:first-child>span {
        padding-top: .5rem
    }
    .navbar-we-mega-menu a i {
        margin-right: .1875rem
    }
    .navbar-we-mega-menu .we-mega-menu-col>* {
        padding: 0
    }
    .we-mega-menu-col {
        border: 0 none;
        background-color: transparent
    }
    .we-mega-menu-group .we-mega-menu-col {
        margin-top: 0;
        margin-bottom: 0
    }
    .we-mega-menu-submenu {
        z-index: 20;
        top: 100%;
        left: 0;
        margin-left: -.0625rem;
        margin-top: -.0625rem;
        padding: .625rem .9375rem .625rem .9375rem;
        -moz-border-radius: 0;
        -webkit-border-radius: 0;
        border-radius: 0;
        background-color: #fff;
        border: 0 none;
        -moz-box-shadow: 0 3px 15px rgba(0, 0, 0, 0.11765) !important;
        -webkit-box-shadow: 0 3px 15px rgba(0, 0, 0, 0.11765) !important;
        box-shadow: 0 3px 15px rgba(0, 0, 0, 0.11765) !important;
        border: 1px solid rgba(0, 0, 0, 0.1)
    }
    .we-mega-menu-submenu>.we-mega-menu-submenu-inner {
        min-height: 11.25rem
    }
    .we-mega-menu-submenu li.we-mega-menu-li a {
        -moz-border-radius: 0;
        -webkit-border-radius: 0;
        border-radius: 0;
        color: #666;
        font-family: "Quicksand", sans-serif;
        font-weight: 700;
        border: 0 none;
        font-size: .8125rem;
        border-bottom: 1px solid rgba(0, 0, 0, 0.1);
        padding-left: 0;
        padding-right: 0;
        padding-top: .5rem;
        padding-bottom: .5rem;
        background-color: transparent
    }
    .we-mega-menu-submenu li.we-mega-menu-li a:hover,
    .we-mega-menu-submenu li.we-mega-menu-li a:focus {
        background-color: transparent;
        color: #000
    }
    .we-mega-menu-submenu li.we-mega-menu-li.active>a,
    .we-mega-menu-submenu li.we-mega-menu-li.active>a:hover,
    .we-mega-menu-submenu li.we-mega-menu-li.active>a:focus,
    .we-mega-menu-submenu li.we-mega-menu-li.active>.we-megamenu-nolink {
        background-color: transparent;
        color: #000;
        border-bottom-color: #000;
        border-top: 0 none;
        border-left: 0 none;
        border-right: 0 none
    }
    .we-mega-menu-submenu li.we-mega-menu-li span {
        -moz-border-radius: 0;
        -webkit-border-radius: 0;
        border-radius: 0;
        color: #666;
        font-family: "Quicksand", sans-serif;
        font-weight: 700;
        border: 0 none;
        font-size: .8125rem;
        border-bottom: 1px solid rgba(0, 0, 0, 0.1);
        padding-left: 0;
        padding-right: 0;
        padding-top: .5rem;
        padding-bottom: .5rem;
        background-color: transparent;
        display: block;
        margin-right: 2px
    }
    .we-mega-menu-submenu li.we-mega-menu-li:first-child>a,
    .we-mega-menu-submenu li.we-mega-menu-li:first-child>span {
        padding-top: 0
    }
    .we-mega-menu-submenu li.we-mega-menu-li:first-child>a:before,
    .we-mega-menu-submenu li.we-mega-menu-li:first-child>a:after,
    .we-mega-menu-submenu li.we-mega-menu-li:first-child>span:before,
    .we-mega-menu-submenu li.we-mega-menu-li:first-child>span:after {
        margin-top: -.5625rem
    }
    .navbar-we-mega-menu.click-action .we-mega-menu-ul .dropdown-menu:hover,
    .navbar-we-mega-menu.click-action .we-mega-menu-ul .dropdown-menu:focus {
        position: static
    }
    .navbar-we-mega-menu.click-action .we-mega-menu-ul .dropdown-menu:hover>.we-mega-menu-submenu,
    .navbar-we-mega-menu.click-action .we-mega-menu-ul .dropdown-menu:focus>.we-mega-menu-submenu {
        display: none;
        filter: progid: DXImageTransform.Microsoft.Alpha(Opacity=0);
        opacity: 0;
        visibility: hidden
    }
    .navbar-we-mega-menu.click-action .we-mega-menu-ul .dropdown-menu.clicked {
        position: relative
    }
    .navbar-we-mega-menu.click-action .we-mega-menu-ul .dropdown-menu.clicked>.we-mega-menu-submenu {
        display: block;
        filter: progid: DXImageTransform.Microsoft.Alpha(enabled=false);
        opacity: 1;
        visibility: visible
    }
}

@media (min-width: 992px) {
    nav[data-style="Blue"] .we-mega-menu-ul>.we-mega-menu-li>a.we-mega-menu-li,
    nav[data-style="Blue"] .we-mega-menu-ul>.we-mega-menu-li>.we-megamenu-nolink {
        color: #fff;
        border-color: #204681;
        background-color: #2a5caa
    }
    nav[data-style="Blue"] .we-mega-menu-ul .dropdown-menu>a:after,
    nav[data-style="Blue"] .we-mega-menu-ul .dropdown-menu>span:after {
        filter: progid: DXImageTransform.Microsoft.Alpha(enabled=false);
        opacity: 1
    }
    nav[data-style="Blue"] .we-mega-menu-ul .dropdown-menu .dropdown-menu>a:before,
    nav[data-style="Blue"] .we-mega-menu-ul .dropdown-menu .dropdown-menu>span:before {
        filter: progid: DXImageTransform.Microsoft.Alpha(enabled=false);
        opacity: 1
    }
    nav[data-style="Blue"] .we-mega-menu-ul .dropdown-menu .dropdown-menu>a:after,
    nav[data-style="Blue"] .we-mega-menu-ul .dropdown-menu .dropdown-menu>span:after {
        filter: progid: DXImageTransform.Microsoft.Alpha(Opacity=0);
        opacity: 0
    }
    nav[data-style="Blue"] .we-mega-menu-ul .dropdown-menu .dropdown-menu>a:hover:after,
    nav[data-style="Blue"] .we-mega-menu-ul .dropdown-menu .dropdown-menu>a:focus:after,
    nav[data-style="Blue"] .we-mega-menu-ul .dropdown-menu .dropdown-menu>span:hover:after,
    nav[data-style="Blue"] .we-mega-menu-ul .dropdown-menu .dropdown-menu>span:focus:after {
        border-top-color: #fff
    }
    nav[data-style="Blue"] .we-mega-menu-ul .dropdown-menu.hover>a:after,
    nav[data-style="Blue"] .we-mega-menu-ul .dropdown-menu.hover>span:after {
        filter: progid: DXImageTransform.Microsoft.Alpha(Opacity=0);
        opacity: 0
    }
    nav[data-style="Blue"] .we-mega-menu-ul .selected>a:after {
        filter: progid: DXImageTransform.Microsoft.Alpha(Opacity=0);
        opacity: 0
    }
    nav[data-style="Blue"] .we-mega-menu-submenu li.we-mega-menu-li a,
    nav[data-style="Blue"] .we-mega-menu-submenu li.we-mega-menu-li span {
        color: #2a5caa
    }
    nav[data-style="Blue"] .navbar-we-mega-menu .we-mega-menu-submenu a i,
    nav[data-style="Blue"] .navbar-we-mega-menu .we-mega-menu-submenu span i {
        color: #2a5caa
    }
    body:not(.we-mega-menu-backend) nav[data-style="Blue"] {
        background-color: #2a5caa
    }
    body:not(.we-mega-menu-backend) nav[data-style="Blue"] .type-of-block {
        color: #d9d9d9
    }
    body:not(.we-mega-menu-backend) nav[data-style="Blue"] .type-of-block h2 {
        color: #fff
    }
    body:not(.we-mega-menu-backend) nav[data-style="Blue"] .type-of-block a {
        color: #d9d9d9
    }
    body:not(.we-mega-menu-backend) nav[data-style="Blue"] .type-of-block a:hover,
    body:not(.we-mega-menu-backend) nav[data-style="Blue"] .type-of-block a:focus {
        color: #fff
    }
    body:not(.we-mega-menu-backend) nav[data-style="Blue"] .we-mega-menu-ul>.we-mega-menu-li {
        border-left-color: #255196
    }
    body:not(.we-mega-menu-backend) nav[data-style="Blue"] .we-mega-menu-ul>.we-mega-menu-li>a:hover,
    body:not(.we-mega-menu-backend) nav[data-style="Blue"] .we-mega-menu-ul>.we-mega-menu-li>a:focus {
        background-color: #255196;
        color: #fff
    }
    body:not(.we-mega-menu-backend) nav[data-style="Blue"] .we-mega-menu-ul>.we-mega-menu-li.active>a,
    body:not(.we-mega-menu-backend) nav[data-style="Blue"] .we-mega-menu-ul>.we-mega-menu-li.active>span,
    body:not(.we-mega-menu-backend) nav[data-style="Blue"] .we-mega-menu-ul>.we-mega-menu-li.active-trail>a,
    body:not(.we-mega-menu-backend) nav[data-style="Blue"] .we-mega-menu-ul>.we-mega-menu-li.active-trail>span {
        background-color: #255196;
        color: #fff
    }
    body:not(.we-mega-menu-backend) nav[data-style="Blue"] .we-mega-menu-ul>.dropdown-menu:hover>a,
    body:not(.we-mega-menu-backend) nav[data-style="Blue"] .we-mega-menu-ul>.dropdown-menu:focus>a {
        background-color: #255196;
        color: #fff
    }
    body:not(.we-mega-menu-backend) nav[data-style="Blue"] .we-mega-menu-ul .dropdown-menu .dropdown-menu>a:before,
    body:not(.we-mega-menu-backend) nav[data-style="Blue"] .we-mega-menu-ul .dropdown-menu .dropdown-menu>span:before {
        filter: progid: DXImageTransform.Microsoft.Alpha(Opacity=0);
        opacity: 0
    }
    body:not(.we-mega-menu-backend) nav[data-style="Blue"] .we-mega-menu-ul .dropdown-menu .dropdown-menu>a:after,
    body:not(.we-mega-menu-backend) nav[data-style="Blue"] .we-mega-menu-ul .dropdown-menu .dropdown-menu>span:after {
        filter: progid: DXImageTransform.Microsoft.Alpha(enabled=false);
        opacity: 1
    }
    body:not(.we-mega-menu-backend) nav[data-style="Blue"] .we-mega-menu-submenu {
        border-color: #255196;
        background-color: #255196
    }
    body:not(.we-mega-menu-backend) nav[data-style="Blue"] .we-mega-menu-submenu li.we-mega-menu-li a,
    body:not(.we-mega-menu-backend) nav[data-style="Blue"] .we-mega-menu-submenu li.we-mega-menu-li span {
        color: #d9d9d9;
        border-bottom-color: rgba(255, 255, 255, 0.2)
    }
    body:not(.we-mega-menu-backend) nav[data-style="Blue"] .we-mega-menu-submenu li.we-mega-menu-li a:hover,
    body:not(.we-mega-menu-backend) nav[data-style="Blue"] .we-mega-menu-submenu li.we-mega-menu-li a:focus {
        color: #fff
    }
    body:not(.we-mega-menu-backend) nav[data-style="Blue"] .we-mega-menu-submenu li.we-mega-menu-li.active>a,
    body:not(.we-mega-menu-backend) nav[data-style="Blue"] .we-mega-menu-submenu li.we-mega-menu-li.active>a:hover,
    body:not(.we-mega-menu-backend) nav[data-style="Blue"] .we-mega-menu-submenu li.we-mega-menu-li.active>a:focus,
    body:not(.we-mega-menu-backend) nav[data-style="Blue"] .we-mega-menu-submenu li.we-mega-menu-li.active>.we-megamenu-nolink {
        color: #fff
    }
}

@media (min-width: 992px) {
    nav[data-style="Red"] .we-mega-menu-ul>.we-mega-menu-li>a.we-mega-menu-li,
    nav[data-style="Red"] .we-mega-menu-ul>.we-mega-menu-li>.we-megamenu-nolink {
        color: #fff;
        border-color: #902730;
        background-color: #b8323d
    }
    nav[data-style="Red"] .we-mega-menu-ul .dropdown-menu>a:after,
    nav[data-style="Red"] .we-mega-menu-ul .dropdown-menu>span:after {
        filter: progid: DXImageTransform.Microsoft.Alpha(enabled=false);
        opacity: 1
    }
    nav[data-style="Red"] .we-mega-menu-ul .dropdown-menu .dropdown-menu>a:before,
    nav[data-style="Red"] .we-mega-menu-ul .dropdown-menu .dropdown-menu>span:before {
        filter: progid: DXImageTransform.Microsoft.Alpha(enabled=false);
        opacity: 1
    }
    nav[data-style="Red"] .we-mega-menu-ul .dropdown-menu .dropdown-menu>a:after,
    nav[data-style="Red"] .we-mega-menu-ul .dropdown-menu .dropdown-menu>span:after {
        filter: progid: DXImageTransform.Microsoft.Alpha(Opacity=0);
        opacity: 0
    }
    nav[data-style="Red"] .we-mega-menu-ul .dropdown-menu .dropdown-menu>a:hover:after,
    nav[data-style="Red"] .we-mega-menu-ul .dropdown-menu .dropdown-menu>a:focus:after,
    nav[data-style="Red"] .we-mega-menu-ul .dropdown-menu .dropdown-menu>span:hover:after,
    nav[data-style="Red"] .we-mega-menu-ul .dropdown-menu .dropdown-menu>span:focus:after {
        border-top-color: #fff
    }
    nav[data-style="Red"] .we-mega-menu-ul .dropdown-menu.hover>a:after,
    nav[data-style="Red"] .we-mega-menu-ul .dropdown-menu.hover>span:after {
        filter: progid: DXImageTransform.Microsoft.Alpha(Opacity=0);
        opacity: 0
    }
    nav[data-style="Red"] .we-mega-menu-ul .selected>a:after {
        filter: progid: DXImageTransform.Microsoft.Alpha(Opacity=0);
        opacity: 0
    }
    nav[data-style="Red"] .we-mega-menu-submenu li.we-mega-menu-li a,
    nav[data-style="Red"] .we-mega-menu-submenu li.we-mega-menu-li span {
        color: #b8323d
    }
    nav[data-style="Red"] .navbar-we-mega-menu .we-mega-menu-submenu a i,
    nav[data-style="Red"] .navbar-we-mega-menu .we-mega-menu-submenu span i {
        color: #b8323d
    }
    body:not(.we-mega-menu-backend) nav[data-style="Red"] {
        background-color: #b8323d
    }
    body:not(.we-mega-menu-backend) nav[data-style="Red"] .type-of-block {
        color: #d9d9d9
    }
    body:not(.we-mega-menu-backend) nav[data-style="Red"] .type-of-block h2 {
        color: #fff
    }
    body:not(.we-mega-menu-backend) nav[data-style="Red"] .type-of-block a {
        color: #d9d9d9
    }
    body:not(.we-mega-menu-backend) nav[data-style="Red"] .type-of-block a:hover,
    body:not(.we-mega-menu-backend) nav[data-style="Red"] .type-of-block a:focus {
        color: #fff
    }
    body:not(.we-mega-menu-backend) nav[data-style="Red"] .we-mega-menu-ul>.we-mega-menu-li {
        border-left-color: #a42d36
    }
    body:not(.we-mega-menu-backend) nav[data-style="Red"] .we-mega-menu-ul>.we-mega-menu-li>a:hover,
    body:not(.we-mega-menu-backend) nav[data-style="Red"] .we-mega-menu-ul>.we-mega-menu-li>a:focus {
        background-color: #a42d36;
        color: #fff
    }
    body:not(.we-mega-menu-backend) nav[data-style="Red"] .we-mega-menu-ul>.we-mega-menu-li.active>a,
    body:not(.we-mega-menu-backend) nav[data-style="Red"] .we-mega-menu-ul>.we-mega-menu-li.active>span,
    body:not(.we-mega-menu-backend) nav[data-style="Red"] .we-mega-menu-ul>.we-mega-menu-li.active-trail>a,
    body:not(.we-mega-menu-backend) nav[data-style="Red"] .we-mega-menu-ul>.we-mega-menu-li.active-trail>span {
        background-color: #a42d36;
        color: #fff
    }
    body:not(.we-mega-menu-backend) nav[data-style="Red"] .we-mega-menu-ul>.dropdown-menu:hover>a,
    body:not(.we-mega-menu-backend) nav[data-style="Red"] .we-mega-menu-ul>.dropdown-menu:focus>a {
        background-color: #a42d36;
        color: #fff
    }
    body:not(.we-mega-menu-backend) nav[data-style="Red"] .we-mega-menu-ul .dropdown-menu .dropdown-menu>a:before,
    body:not(.we-mega-menu-backend) nav[data-style="Red"] .we-mega-menu-ul .dropdown-menu .dropdown-menu>span:before {
        filter: progid: DXImageTransform.Microsoft.Alpha(Opacity=0);
        opacity: 0
    }
    body:not(.we-mega-menu-backend) nav[data-style="Red"] .we-mega-menu-ul .dropdown-menu .dropdown-menu>a:after,
    body:not(.we-mega-menu-backend) nav[data-style="Red"] .we-mega-menu-ul .dropdown-menu .dropdown-menu>span:after {
        filter: progid: DXImageTransform.Microsoft.Alpha(enabled=false);
        opacity: 1
    }
    body:not(.we-mega-menu-backend) nav[data-style="Red"] .we-mega-menu-submenu {
        border-color: #a42d36;
        background-color: #a42d36
    }
    body:not(.we-mega-menu-backend) nav[data-style="Red"] .we-mega-menu-submenu li.we-mega-menu-li a,
    body:not(.we-mega-menu-backend) nav[data-style="Red"] .we-mega-menu-submenu li.we-mega-menu-li span {
        color: #d9d9d9;
        border-bottom-color: rgba(255, 255, 255, 0.2)
    }
    body:not(.we-mega-menu-backend) nav[data-style="Red"] .we-mega-menu-submenu li.we-mega-menu-li a:hover,
    body:not(.we-mega-menu-backend) nav[data-style="Red"] .we-mega-menu-submenu li.we-mega-menu-li a:focus {
        color: #fff
    }
    body:not(.we-mega-menu-backend) nav[data-style="Red"] .we-mega-menu-submenu li.we-mega-menu-li.active>a,
    body:not(.we-mega-menu-backend) nav[data-style="Red"] .we-mega-menu-submenu li.we-mega-menu-li.active>a:hover,
    body:not(.we-mega-menu-backend) nav[data-style="Red"] .we-mega-menu-submenu li.we-mega-menu-li.active>a:focus,
    body:not(.we-mega-menu-backend) nav[data-style="Red"] .we-mega-menu-submenu li.we-mega-menu-li.active>.we-megamenu-nolink {
        color: #fff
    }
}

@media (min-width: 992px) {
    nav[data-style="Yellow"] .we-mega-menu-ul>.we-mega-menu-li>a.we-mega-menu-li,
    nav[data-style="Yellow"] .we-mega-menu-ul>.we-mega-menu-li>.we-megamenu-nolink {
        color: #fff;
        border-color: #be9b18;
        background-color: #e4bb25
    }
    nav[data-style="Yellow"] .we-mega-menu-ul .dropdown-menu>a:after,
    nav[data-style="Yellow"] .we-mega-menu-ul .dropdown-menu>span:after {
        filter: progid: DXImageTransform.Microsoft.Alpha(enabled=false);
        opacity: 1
    }
    nav[data-style="Yellow"] .we-mega-menu-ul .dropdown-menu .dropdown-menu>a:before,
    nav[data-style="Yellow"] .we-mega-menu-ul .dropdown-menu .dropdown-menu>span:before {
        filter: progid: DXImageTransform.Microsoft.Alpha(enabled=false);
        opacity: 1
    }
    nav[data-style="Yellow"] .we-mega-menu-ul .dropdown-menu .dropdown-menu>a:after,
    nav[data-style="Yellow"] .we-mega-menu-ul .dropdown-menu .dropdown-menu>span:after {
        filter: progid: DXImageTransform.Microsoft.Alpha(Opacity=0);
        opacity: 0
    }
    nav[data-style="Yellow"] .we-mega-menu-ul .dropdown-menu .dropdown-menu>a:hover:after,
    nav[data-style="Yellow"] .we-mega-menu-ul .dropdown-menu .dropdown-menu>a:focus:after,
    nav[data-style="Yellow"] .we-mega-menu-ul .dropdown-menu .dropdown-menu>span:hover:after,
    nav[data-style="Yellow"] .we-mega-menu-ul .dropdown-menu .dropdown-menu>span:focus:after {
        border-top-color: #fff
    }
    nav[data-style="Yellow"] .we-mega-menu-ul .dropdown-menu.hover>a:after,
    nav[data-style="Yellow"] .we-mega-menu-ul .dropdown-menu.hover>span:after {
        filter: progid: DXImageTransform.Microsoft.Alpha(Opacity=0);
        opacity: 0
    }
    nav[data-style="Yellow"] .we-mega-menu-ul .selected>a:after {
        filter: progid: DXImageTransform.Microsoft.Alpha(Opacity=0);
        opacity: 0
    }
    nav[data-style="Yellow"] .we-mega-menu-submenu li.we-mega-menu-li a,
    nav[data-style="Yellow"] .we-mega-menu-submenu li.we-mega-menu-li span {
        color: #e4bb25
    }
    nav[data-style="Yellow"] .navbar-we-mega-menu .we-mega-menu-submenu a i,
    nav[data-style="Yellow"] .navbar-we-mega-menu .we-mega-menu-submenu span i {
        color: #e4bb25
    }
    body:not(.we-mega-menu-backend) nav[data-style="Yellow"] {
        background-color: #e4bb25
    }
    body:not(.we-mega-menu-backend) nav[data-style="Yellow"] .type-of-block {
        color: #d9d9d9
    }
    body:not(.we-mega-menu-backend) nav[data-style="Yellow"] .type-of-block h2 {
        color: #fff
    }
    body:not(.we-mega-menu-backend) nav[data-style="Yellow"] .type-of-block a {
        color: #d9d9d9
    }
    body:not(.we-mega-menu-backend) nav[data-style="Yellow"] .type-of-block a:hover,
    body:not(.we-mega-menu-backend) nav[data-style="Yellow"] .type-of-block a:focus {
        color: #fff
    }
    body:not(.we-mega-menu-backend) nav[data-style="Yellow"] .we-mega-menu-ul>.we-mega-menu-li {
        border-left-color: #d5ad1a
    }
    body:not(.we-mega-menu-backend) nav[data-style="Yellow"] .we-mega-menu-ul>.we-mega-menu-li>a:hover,
    body:not(.we-mega-menu-backend) nav[data-style="Yellow"] .we-mega-menu-ul>.we-mega-menu-li>a:focus {
        background-color: #d5ad1a;
        color: #fff
    }
    body:not(.we-mega-menu-backend) nav[data-style="Yellow"] .we-mega-menu-ul>.we-mega-menu-li.active>a,
    body:not(.we-mega-menu-backend) nav[data-style="Yellow"] .we-mega-menu-ul>.we-mega-menu-li.active>span,
    body:not(.we-mega-menu-backend) nav[data-style="Yellow"] .we-mega-menu-ul>.we-mega-menu-li.active-trail>a,
    body:not(.we-mega-menu-backend) nav[data-style="Yellow"] .we-mega-menu-ul>.we-mega-menu-li.active-trail>span {
        background-color: #d5ad1a;
        color: #fff
    }
    body:not(.we-mega-menu-backend) nav[data-style="Yellow"] .we-mega-menu-ul>.dropdown-menu:hover>a,
    body:not(.we-mega-menu-backend) nav[data-style="Yellow"] .we-mega-menu-ul>.dropdown-menu:focus>a {
        background-color: #d5ad1a;
        color: #fff
    }
    body:not(.we-mega-menu-backend) nav[data-style="Yellow"] .we-mega-menu-ul .dropdown-menu .dropdown-menu>a:before,
    body:not(.we-mega-menu-backend) nav[data-style="Yellow"] .we-mega-menu-ul .dropdown-menu .dropdown-menu>span:before {
        filter: progid: DXImageTransform.Microsoft.Alpha(Opacity=0);
        opacity: 0
    }
    body:not(.we-mega-menu-backend) nav[data-style="Yellow"] .we-mega-menu-ul .dropdown-menu .dropdown-menu>a:after,
    body:not(.we-mega-menu-backend) nav[data-style="Yellow"] .we-mega-menu-ul .dropdown-menu .dropdown-menu>span:after {
        filter: progid: DXImageTransform.Microsoft.Alpha(enabled=false);
        opacity: 1
    }
    body:not(.we-mega-menu-backend) nav[data-style="Yellow"] .we-mega-menu-submenu {
        border-color: #d5ad1a;
        background-color: #d5ad1a
    }
    body:not(.we-mega-menu-backend) nav[data-style="Yellow"] .we-mega-menu-submenu li.we-mega-menu-li a,
    body:not(.we-mega-menu-backend) nav[data-style="Yellow"] .we-mega-menu-submenu li.we-mega-menu-li span {
        color: #d9d9d9;
        border-bottom-color: rgba(255, 255, 255, 0.2)
    }
    body:not(.we-mega-menu-backend) nav[data-style="Yellow"] .we-mega-menu-submenu li.we-mega-menu-li a:hover,
    body:not(.we-mega-menu-backend) nav[data-style="Yellow"] .we-mega-menu-submenu li.we-mega-menu-li a:focus {
        color: #fff
    }
    body:not(.we-mega-menu-backend) nav[data-style="Yellow"] .we-mega-menu-submenu li.we-mega-menu-li.active>a,
    body:not(.we-mega-menu-backend) nav[data-style="Yellow"] .we-mega-menu-submenu li.we-mega-menu-li.active>a:hover,
    body:not(.we-mega-menu-backend) nav[data-style="Yellow"] .we-mega-menu-submenu li.we-mega-menu-li.active>a:focus,
    body:not(.we-mega-menu-backend) nav[data-style="Yellow"] .we-mega-menu-submenu li.we-mega-menu-li.active>.we-megamenu-nolink {
        color: #fff
    }
}

@media (min-width: 992px) {
    nav[data-style="Green"] .we-mega-menu-ul>.we-mega-menu-li>a.we-mega-menu-li,
    nav[data-style="Green"] .we-mega-menu-ul>.we-mega-menu-li>.we-megamenu-nolink {
        color: #fff;
        border-color: #779543;
        background-color: #92b457
    }
    nav[data-style="Green"] .we-mega-menu-ul .dropdown-menu>a:after,
    nav[data-style="Green"] .we-mega-menu-ul .dropdown-menu>span:after {
        filter: progid: DXImageTransform.Microsoft.Alpha(enabled=false);
        opacity: 1
    }
    nav[data-style="Green"] .we-mega-menu-ul .dropdown-menu .dropdown-menu>a:before,
    nav[data-style="Green"] .we-mega-menu-ul .dropdown-menu .dropdown-menu>span:before {
        filter: progid: DXImageTransform.Microsoft.Alpha(enabled=false);
        opacity: 1
    }
    nav[data-style="Green"] .we-mega-menu-ul .dropdown-menu .dropdown-menu>a:after,
    nav[data-style="Green"] .we-mega-menu-ul .dropdown-menu .dropdown-menu>span:after {
        filter: progid: DXImageTransform.Microsoft.Alpha(Opacity=0);
        opacity: 0
    }
    nav[data-style="Green"] .we-mega-menu-ul .dropdown-menu .dropdown-menu>a:hover:after,
    nav[data-style="Green"] .we-mega-menu-ul .dropdown-menu .dropdown-menu>a:focus:after,
    nav[data-style="Green"] .we-mega-menu-ul .dropdown-menu .dropdown-menu>span:hover:after,
    nav[data-style="Green"] .we-mega-menu-ul .dropdown-menu .dropdown-menu>span:focus:after {
        border-top-color: #fff
    }
    nav[data-style="Green"] .we-mega-menu-ul .dropdown-menu.hover>a:after,
    nav[data-style="Green"] .we-mega-menu-ul .dropdown-menu.hover>span:after {
        filter: progid: DXImageTransform.Microsoft.Alpha(Opacity=0);
        opacity: 0
    }
    nav[data-style="Green"] .we-mega-menu-ul .selected>a:after {
        filter: progid: DXImageTransform.Microsoft.Alpha(Opacity=0);
        opacity: 0
    }
    nav[data-style="Green"] .we-mega-menu-submenu li.we-mega-menu-li a,
    nav[data-style="Green"] .we-mega-menu-submenu li.we-mega-menu-li span {
        color: #92b457
    }
    nav[data-style="Green"] .navbar-we-mega-menu .we-mega-menu-submenu a i,
    nav[data-style="Green"] .navbar-we-mega-menu .we-mega-menu-submenu span i {
        color: #92b457
    }
    body:not(.we-mega-menu-backend) nav[data-style="Green"] {
        background-color: #92b457
    }
    body:not(.we-mega-menu-backend) nav[data-style="Green"] .type-of-block {
        color: #d9d9d9
    }
    body:not(.we-mega-menu-backend) nav[data-style="Green"] .type-of-block h2 {
        color: #fff
    }
    body:not(.we-mega-menu-backend) nav[data-style="Green"] .type-of-block a {
        color: #d9d9d9
    }
    body:not(.we-mega-menu-backend) nav[data-style="Green"] .type-of-block a:hover,
    body:not(.we-mega-menu-backend) nav[data-style="Green"] .type-of-block a:focus {
        color: #fff
    }
    body:not(.we-mega-menu-backend) nav[data-style="Green"] .we-mega-menu-ul>.we-mega-menu-li {
        border-left-color: #85a74b
    }
    body:not(.we-mega-menu-backend) nav[data-style="Green"] .we-mega-menu-ul>.we-mega-menu-li>a:hover,
    body:not(.we-mega-menu-backend) nav[data-style="Green"] .we-mega-menu-ul>.we-mega-menu-li>a:focus {
        background-color: #85a74b;
        color: #fff
    }
    body:not(.we-mega-menu-backend) nav[data-style="Green"] .we-mega-menu-ul>.we-mega-menu-li.active>a,
    body:not(.we-mega-menu-backend) nav[data-style="Green"] .we-mega-menu-ul>.we-mega-menu-li.active>span,
    body:not(.we-mega-menu-backend) nav[data-style="Green"] .we-mega-menu-ul>.we-mega-menu-li.active-trail>a,
    body:not(.we-mega-menu-backend) nav[data-style="Green"] .we-mega-menu-ul>.we-mega-menu-li.active-trail>span {
        background-color: #85a74b;
        color: #fff
    }
    body:not(.we-mega-menu-backend) nav[data-style="Green"] .we-mega-menu-ul>.dropdown-menu:hover>a,
    body:not(.we-mega-menu-backend) nav[data-style="Green"] .we-mega-menu-ul>.dropdown-menu:focus>a {
        background-color: #85a74b;
        color: #fff
    }
    body:not(.we-mega-menu-backend) nav[data-style="Green"] .we-mega-menu-ul .dropdown-menu .dropdown-menu>a:before,
    body:not(.we-mega-menu-backend) nav[data-style="Green"] .we-mega-menu-ul .dropdown-menu .dropdown-menu>span:before {
        filter: progid: DXImageTransform.Microsoft.Alpha(Opacity=0);
        opacity: 0
    }
    body:not(.we-mega-menu-backend) nav[data-style="Green"] .we-mega-menu-ul .dropdown-menu .dropdown-menu>a:after,
    body:not(.we-mega-menu-backend) nav[data-style="Green"] .we-mega-menu-ul .dropdown-menu .dropdown-menu>span:after {
        filter: progid: DXImageTransform.Microsoft.Alpha(enabled=false);
        opacity: 1
    }
    body:not(.we-mega-menu-backend) nav[data-style="Green"] .we-mega-menu-submenu {
        border-color: #85a74b;
        background-color: #85a74b
    }
    body:not(.we-mega-menu-backend) nav[data-style="Green"] .we-mega-menu-submenu li.we-mega-menu-li a,
    body:not(.we-mega-menu-backend) nav[data-style="Green"] .we-mega-menu-submenu li.we-mega-menu-li span {
        color: #d9d9d9;
        border-bottom-color: rgba(255, 255, 255, 0.2)
    }
    body:not(.we-mega-menu-backend) nav[data-style="Green"] .we-mega-menu-submenu li.we-mega-menu-li a:hover,
    body:not(.we-mega-menu-backend) nav[data-style="Green"] .we-mega-menu-submenu li.we-mega-menu-li a:focus {
        color: #fff
    }
    body:not(.we-mega-menu-backend) nav[data-style="Green"] .we-mega-menu-submenu li.we-mega-menu-li.active>a,
    body:not(.we-mega-menu-backend) nav[data-style="Green"] .we-mega-menu-submenu li.we-mega-menu-li.active>a:hover,
    body:not(.we-mega-menu-backend) nav[data-style="Green"] .we-mega-menu-submenu li.we-mega-menu-li.active>a:focus,
    body:not(.we-mega-menu-backend) nav[data-style="Green"] .we-mega-menu-submenu li.we-mega-menu-li.active>.we-megamenu-nolink {
        color: #fff
    }
}

@media (min-width: 992px) {
    .we-mega-menu-backend nav[data-style="White"] .we-mega-menu-ul>.we-mega-menu-li>a.we-mega-menu-li,
    .we-mega-menu-backend nav[data-style="White"] .we-mega-menu-ul>.we-mega-menu-li>.we-megamenu-nolink {
        color: #666;
        border-color: #d4d7d9;
        background-color: #eff0f1
    }
}

nav[data-animation="Fading"]:not(.click-action) .we-mega-menu-ul .we-mega-menu-li.dropdown-menu.open>.we-mega-menu-submenu,
nav[data-animation="Fading"] .we-mega-menu-ul .we-mega-menu-li.dropdown-menu.clicked>.we-mega-menu-submenu,
nav[data-animation="Fading"]:not(.admin) .we-mega-menu-ul .dropdown-menu:not(.clicked):hover>.we-mega-menu-submenu,
nav[data-animation="Fading"]:not(.admin) .we-mega-menu-ul .dropdown-menu:not(.clicked):focus>.we-mega-menu-submenu {
    -moz-animation-fill-mode: both;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    -moz-animation-duration: 0.35s;
    -webkit-animation-duration: 0.35s;
    animation-duration: 0.35s;
    -moz-animation-timing-function: linear;
    -webkit-animation-timing-function: linear;
    animation-timing-function: linear;
    -moz-animation-name: fadeInFromNone;
    -webkit-animation-name: fadeInFromNone;
    animation-name: fadeInFromNone
}

nav[data-animation="Slide"]:not(.click-action) .we-mega-menu-ul .we-mega-menu-li.dropdown-menu.open>.we-mega-menu-submenu,
nav[data-animation="Slide"] .we-mega-menu-ul .we-mega-menu-li.dropdown-menu.clicked>.we-mega-menu-submenu,
nav[data-animation="Slide"]:not(.admin) .we-mega-menu-ul .dropdown-menu:not(.clicked):hover>.we-mega-menu-submenu,
nav[data-animation="Slide"]:not(.admin) .we-mega-menu-ul .dropdown-menu:not(.clicked):focus>.we-mega-menu-submenu {
    -moz-animation-fill-mode: both;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    -moz-animation-duration: 0.35s;
    -webkit-animation-duration: 0.35s;
    animation-duration: 0.35s;
    -moz-animation-timing-function: linear;
    -webkit-animation-timing-function: linear;
    animation-timing-function: linear;
    -moz-animation-name: slideInUp;
    -webkit-animation-name: slideInUp;
    animation-name: slideInUp
}

nav[data-animation="Zoom"]:not(.click-action) .we-mega-menu-ul .we-mega-menu-li.dropdown-menu.open>.we-mega-menu-submenu,
nav[data-animation="Zoom"] .we-mega-menu-ul .we-mega-menu-li.dropdown-menu.clicked>.we-mega-menu-submenu,
nav[data-animation="Zoom"]:not(.admin) .we-mega-menu-ul .dropdown-menu:not(.clicked):hover>.we-mega-menu-submenu,
nav[data-animation="Zoom"]:not(.admin) .we-mega-menu-ul .dropdown-menu:not(.clicked):focus>.we-mega-menu-submenu {
    -moz-animation-fill-mode: both;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    -moz-animation-duration: 0.35s;
    -webkit-animation-duration: 0.35s;
    animation-duration: 0.35s;
    -moz-animation-timing-function: linear;
    -webkit-animation-timing-function: linear;
    animation-timing-function: linear;
    -moz-animation-name: zoomInUp;
    -webkit-animation-name: zoomInUp;
    animation-name: zoomInUp;
    -moz-animation-duration: 0.5s;
    -webkit-animation-duration: 0.5s;
    animation-duration: 0.5s
}

nav[data-animation="Elastic"]:not(.click-action) .we-mega-menu-ul .we-mega-menu-li.dropdown-menu.open>.we-mega-menu-submenu,
nav[data-animation="Elastic"] .we-mega-menu-ul .we-mega-menu-li.dropdown-menu.clicked>.we-mega-menu-submenu,
nav[data-animation="Elastic"]:not(.admin) .we-mega-menu-ul .dropdown-menu:not(.clicked):hover>.we-mega-menu-submenu,
nav[data-animation="Elastic"]:not(.admin) .we-mega-menu-ul .dropdown-menu:not(.clicked):focus>.we-mega-menu-submenu {
    -moz-animation-fill-mode: both;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    -moz-animation-duration: 0.35s;
    -webkit-animation-duration: 0.35s;
    animation-duration: 0.35s;
    -moz-animation-timing-function: linear;
    -webkit-animation-timing-function: linear;
    animation-timing-function: linear;
    -moz-animation-name: bounceInUp;
    -webkit-animation-name: bounceInUp;
    animation-name: bounceInUp;
    -moz-animation-duration: 0.5s;
    -webkit-animation-duration: 0.5s;
    animation-duration: 0.5s
}

@media (max-width: 991px) {
    body {
        padding-left: 0;
        right: 0;
        transition: all 0.5s ease-in-out;
        -webkit-transition: all 0.5s ease-in-out;
        -moz-transition: all 0.5s ease-in-out;
        -o-transition: all 0.5s ease-in-out;
        position: relative;
        margin-right: 0
    }
    body.toggled {
        right: 250px
    }
    body.toggled .btn-close {
        filter: progid: DXImageTransform.Microsoft.Alpha(enabled=false);
        opacity: 1;
        visibility: visible;
        display: block
    }
    .btn-close {
        filter: progid: DXImageTransform.Microsoft.Alpha(Opacity=0);
        opacity: 0;
        visibility: hidden;
        display: none;
        -moz-border-radius: 50%;
        -webkit-border-radius: 50%;
        border-radius: 50%;
        background: #ccc;
        -moz-box-shadow: 0 12px 27px rgba(0, 0, 0, 0.15);
        -webkit-box-shadow: 0 12px 27px rgba(0, 0, 0, 0.15);
        box-shadow: 0 12px 27px rgba(0, 0, 0, 0.15);
        cursor: pointer;
        position: fixed;
        right: 270px;
        top: 15px;
        width: 48px;
        height: 48px;
        z-index: 1000;
        transition: all 0.3s ease-in-out;
        -webkit-transition: all 0.3s ease-in-out;
        -moz-transition: all 0.3s ease-in-out;
        -o-transition: all 0.3s ease-in-out;
        animation-fill-mode: both;
        animation-duration: 0.2s;
        animation-timing-function: ease-in-out;
        animation-name: fadeInFromNone;
        animation-delay: .5s
    }
    .btn-close:before,
    .btn-close:after {
        content: '';
        width: 22px;
        height: 2px;
        border-radius: 1px;
        background-color: #fff;
        position: absolute;
        top: 50%;
        left: 50%;
        margin-left: -11px;
        -moz-transform: rotate(0);
        -ms-transform: rotate(0);
        -webkit-transform: rotate(0);
        transform: rotate(0);
        -moz-transition: all .3s ease-in-out;
        -o-transition: all .3s ease-in-out;
        -webkit-transition: all .3s ease-in-out;
        transition: all .3s ease-in-out
    }
    .btn-close:before {
        margin-top: -1px;
        transform: rotate(45deg)
    }
    .btn-close:after {
        margin-top: -1px;
        transform: rotate(-45deg)
    }
    .region-we-mega-menu {
        background-color: #343a40;
        padding: 13px 15px;
        margin-bottom: 20px;
        -moz-border-radius: 3px;
        -webkit-border-radius: 3px;
        border-radius: 3px;
        display: -webkit-flex;
        display: flex;
        -webkit-align-items: center;
        align-items: center;
        -webkit-justify-content: flex-start;
        justify-content: flex-start
    }
    .navbar-toggle {
        display: block;
        z-index: 20;
        background: none;
        border: 0 none;
        box-shadow: none;
        display: inline-block;
        float: none;
        padding: 0;
        margin: 0;
        cursor: pointer
    }
    .navbar-toggle .icon-bar {
        background-color: #ffffff
    }
    .navbar-toggle:hover,
    .navbar-toggle:focus {
        background: none
    }
    .navbar-toggle:hover .icon-bar,
    .navbar-toggle:focus .icon-bar {
        background: #ebebeb
    }
    .overlay {
        cursor: pointer;
        position: fixed;
        left: 0;
        top: 0;
        z-index: 999;
        background-color: rgba(0, 0, 0, 0.2);
        width: 100%;
        height: 100%
    }
    .nav .open>a {
        background: none
    }
    .nav .open>a:hover,
    .nav .open>a:focus {
        background: none
    }
    .navbar-we-mega-menu .we-mega-menu-row {
        margin-left: 0;
        margin-right: 0;
        display: block;
        max-width: inherit
    }
    .navbar-we-mega-menu .we-mega-menu-row>* {
        display: block;
        margin-left: 0;
        margin-right: 0;
        max-width: inherit
    }
    .navbar-we-mega-menu .hidden-collapse {
        display: none !important
    }
    .navbar-we-mega-menu .type-of-block {
        display: none
    }
    .we-mega-menu-submenu {
        width: auto !important
    }
    .we-mega-menu-ul>.dropdown-menu>.we-mega-menu-submenu {
        display: none
    }
    .navbar-we-mega-menu.navbar {
        background: #333;
        bottom: 0;
        left: 100%;
        height: 100%;
        overflow-y: auto;
        position: fixed;
        right: -250px;
        width: 250px;
        top: 0;
        z-index: 1000;
        transition: all 0.5s ease-in-out;
        -webkit-transition: all 0.5s ease-in-out;
        -moz-transition: all 0.5s ease-in-out;
        -o-transition: all 0.5s ease-in-out;
        -moz-border-radius: 0;
        -webkit-border-radius: 0;
        border-radius: 0;
        border: 0 none
    }
    .navbar-we-mega-menu.navbar.we-mobile-megamenu-active {
        right: 0;
        -moz-animation-fill-mode: both;
        -webkit-animation-fill-mode: both;
        animation-fill-mode: both;
        -moz-animation-duration: 0.5s;
        -webkit-animation-duration: 0.5s;
        animation-duration: 0.5s;
        -moz-animation-timing-function: ease-in-out;
        -webkit-animation-timing-function: ease-in-out;
        animation-timing-function: ease-in-out;
        -moz-animation-name: slideInRight;
        -webkit-animation-name: slideInRight;
        animation-name: slideInRight
    }
    .navbar-we-mega-menu.navbar .container,
    .navbar-we-mega-menu.navbar .container-fluid {
        padding: 0;
        position: static;
        width: auto
    }
    .navbar-we-mega-menu.navbar .nav-tabs>li>a,
    .navbar-we-mega-menu.navbar .nav-tabs>li>.we-megamenu-nolink {
        -moz-border-radius: 0;
        -webkit-border-radius: 0;
        border-radius: 0;
        margin-right: 0;
        border: 0 none;
        position: relative
    }
    .navbar-we-mega-menu.navbar .nav-tabs>li.active>a,
    .navbar-we-mega-menu.navbar .nav-tabs>li.active>a:focus,
    .navbar-we-mega-menu.navbar .nav-tabs>li.active>a:hover {
        color: white;
        background-color: #1a1a1a;
        cursor: default;
        border: 0 none;
        -moz-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.05) inset;
        -webkit-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.05) inset;
        box-shadow: 0 1px 0 rgba(255, 255, 255, 0.05) inset;
        border-top: 1px solid rgba(0, 0, 0, 0.3)
    }
    .navbar-we-mega-menu.navbar .nav .open>a,
    .navbar-we-mega-menu.navbar .nav .open>a:focus,
    .navbar-we-mega-menu.navbar .nav .open>a:hover {
        color: white;
        background-color: #1a1a1a;
        cursor: default;
        border: 0 none;
        -moz-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.05) inset;
        -webkit-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.05) inset;
        box-shadow: 0 1px 0 rgba(255, 255, 255, 0.05) inset;
        border-top: 1px solid rgba(0, 0, 0, 0.3)
    }
    .navbar-we-mega-menu.navbar .nav-tabs .nav-tabs>li>a,
    .navbar-we-mega-menu.navbar .nav-tabs .nav-tabs>li>.we-megamenu-nolink {
        border: 0 none;
        background-color: transparent;
        -moz-box-shadow: inherit;
        -webkit-box-shadow: inherit;
        box-shadow: inherit
    }
    .navbar-we-mega-menu.navbar .dropdown-menu {
        position: static;
        min-width: inherit;
        padding: 0;
        margin: 0;
        background-color: transparent;
        border: 0 none;
        -moz-box-shadow: inherit;
        -webkit-box-shadow: inherit;
        box-shadow: inherit;
        -moz-border-radius: 0;
        -webkit-border-radius: 0;
        border-radius: 0
    }
    .navbar-we-mega-menu.navbar .dropdown-menu>a,
    .navbar-we-mega-menu.navbar .dropdown-menu>.we-megamenu-nolink {
        padding-right: 1.875rem
    }
    .navbar-we-mega-menu.navbar .dropdown-menu>a:after,
    .navbar-we-mega-menu.navbar .dropdown-menu>.we-megamenu-nolink:after {
        content: '\f107';
        display: inline-block;
        font-family: "Font Awesome 5 Pro";
        font-weight: 400;
        font-size: inherit;
        text-rendering: auto;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
        position: absolute;
        right: 15px;
        top: 50%;
        margin-top: -11px;
        font-size: 22px
    }
    .navbar-we-mega-menu.navbar .dropdown-menu.active>.we-mega-menu-submenu,
    .navbar-we-mega-menu.navbar .dropdown-menu.active-trail>.we-mega-menu-submenu {
        display: block
    }
    .navbar-we-mega-menu.navbar .nav-tabs .dropdown-menu {
        margin-top: 0
    }
    .navbar-we-mega-menu.navbar .we-mega-menu-ul>li>a,
    .navbar-we-mega-menu.navbar .we-mega-menu-ul>li>.we-megamenu-nolink {
        padding-left: 15px;
        padding-right: 15px;
        border-top: 1px solid rgba(0, 0, 0, 0.3);
        text-shadow: 0 1px 0 rgba(0, 0, 0, 0.5);
        -moz-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.05) inset;
        -webkit-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.05) inset;
        box-shadow: 0 1px 0 rgba(255, 255, 255, 0.05) inset
    }
    .navbar-we-mega-menu.navbar ul {
        padding: 0;
        margin: 0;
        border: 0 none
    }
    .navbar-we-mega-menu.navbar ul a,
    .navbar-we-mega-menu.navbar ul .we-megamenu-nolink {
        display: block;
        color: #ccc;
        padding-left: 0;
        padding-right: 0;
        padding-top: 10px;
        padding-bottom: 10px;
        text-decoration: none
    }
    .navbar-we-mega-menu.navbar ul a:hover,
    .navbar-we-mega-menu.navbar ul a:focus,
    .navbar-we-mega-menu.navbar ul .we-megamenu-nolink:hover,
    .navbar-we-mega-menu.navbar ul .we-megamenu-nolink:focus {
        border-color: transparent;
        color: #ccc;
        background-color: transparent;
        border-top: 1px solid rgba(0, 0, 0, 0.3)
    }
    .navbar-we-mega-menu.navbar ul a.is-active,
    .navbar-we-mega-menu.navbar ul .we-megamenu-nolink.is-active {
        color: white;
        background-color: #1a1a1a
    }
    .navbar-we-mega-menu.navbar ul>li {
        display: block;
        float: none;
        list-style: none;
        margin: 0;
        padding: 0
    }
    .navbar-we-mega-menu.navbar ul>li:last-child {
        border-bottom: none
    }
    .navbar-we-mega-menu.navbar ul>li ul {
        padding-left: 30px;
        padding-bottom: 10px;
        padding-top: 10px
    }
    .navbar-we-mega-menu.navbar ul>li ul li {
        border-bottom: 0
    }
    .navbar-we-mega-menu.navbar ul>li ul li a,
    .navbar-we-mega-menu.navbar ul>li ul li .we-megamenu-nolink {
        padding-left: 0;
        padding-right: 0;
        padding-top: 7px;
        padding-bottom: 7px;
        line-height: 1
    }
    .navbar-we-mega-menu.navbar ul .expanded>a,
    .navbar-we-mega-menu.navbar ul .expanded>.we-megamenu-nolink {
        position: relative
    }
    .navbar-we-mega-menu.navbar ul .expanded>a:before,
    .navbar-we-mega-menu.navbar ul .expanded>.we-megamenu-nolink:before {
        position: absolute;
        top: 50%;
        right: 0;
        width: 20px;
        height: 20px;
        margin-top: -10px;
        line-height: 1.3;
        text-align: right
    }
}

[dir="rtl"] .we-mega-menu-submenu li.we-mega-menu-li {
    float: none
}

@media (min-width: 992px) {
    [dir="rtl"] .we-mega-menu-submenu {
        left: auto;
        right: 0
    }
}

@media (max-width: 991px) {
    [dir="rtl"] body {
        left: 0;
        right: auto
    }
    [dir="rtl"] body.toggled {
        left: 15.625rem;
        right: auto
    }
    [dir="rtl"] .navbar-we-mega-menu.navbar {
        left: -15.625rem;
        right: auto
    }
    [dir="rtl"] .navbar-we-mega-menu.navbar .dropdown-menu>a:after {
        right: auto;
        left: .9375rem
    }
    [dir="rtl"] .navbar-we-mega-menu.navbar ul>li ul {
        padding-left: 0;
        padding-right: 1.875rem
    }
    [dir="rtl"] body.toggled .navbar-we-mega-menu.navbar {
        right: auto;
        left: 0
    }
}