@max1440: ~"screen and (max-width: 1440px)";
@max1366: ~"screen and (max-width: 1366px)";
@min1200: ~"screen and (min-width: 1200px)";
@max1199: ~"screen and (max-width: 1199px)";
@max1024: ~"screen and (max-width: 1024px)";
@min992: ~"screen and (min-width: 992px)";
@max991: ~"screen and (max-width: 991px)";
@max800: ~"screen and (max-width: 800px)";
@max767: ~"screen and (max-width: 767px)";
@max600: ~"screen and (max-width: 600px)";
@max425: ~"screen and (max-width: 425px)";
@max375: ~"screen and (max-width: 375px)";
@max320: ~"screen and (max-width: 320px)";
html {
	body {
		@media @min992 {
			&.adminimal-admin-toolbar {
				margin-top: 38px;
				&.toolbar-tray-open {
					margin-top: 86px;
				}
			}
		}
		.region-we-mega-menu {
			.we-mega-menu-li {
				&.tabbed-open {
					.we-mega-menu-submenu:first-of-type {
						display: block;
						visibility: visible;
						opacity: 1;
					}
				}
			}
		}
		.row {
			&:before {
				width: 0;
				clear: both;
			}
			&:after {
				width: 0;
				clear: both;
			}
		}
	}
}