@media screen and (min-width: 992px) {
  html body.adminimal-admin-toolbar {
    margin-top: 38px;
  }
  html body.adminimal-admin-toolbar.toolbar-tray-open {
    margin-top: 86px;
  }
}
html body .region-we-mega-menu .we-mega-menu-li.tabbed-open .we-mega-menu-submenu:first-of-type {
  display: block;
  visibility: visible;
  opacity: 1;
}
html body .row:before {
  width: 0;
  clear: both;
}
html body .row:after {
  width: 0;
  clear: both;
}
