<div{{ attributes }}>
{{ title_suffix.contextual_links }}
{% if media.field_link_text.value %}
	<a href="{{ file_url(media.field_media_file.entity.uri.value) }}">{{ media.field_link_text.value }}</a>
{% else %}
	<a href="{{ file_url(media.field_media_file.entity.uri.value) }}">{{ name }}</a>
{% endif %}

</div>